<style>
.btn {
	border-radius: 6px !important;
	background-color: #1ab394;
	border-color: #1ab394;
	color: #fff;
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!--创建表单-->

<div class="page-content">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<h3 class="page-title">$title</h3>
				<span>$!message</span>
			</div>
		</div>
		<div class="row-fluid margin-bottom-20 content-area">
			<form id="form" class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="name">角色名称：</label>
					<div class="controls">
						<input type="text" id="name" name="name" placeholder="角色名称" style="width: 480px !important;">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="description">角色描述：</label>
					<div class="controls">
						<input type="text" id="description" name="description"
							placeholder="角色类别" style="width: 480px !important;">
					</div>
				</div>
##				<div class="control-group">
##					<label class="control-label" for="bizId">所属应用：</label>
##					<div class="controls">
##						<input type="text" id="biz-select2" name="bizId"
##							placeholder="所属应用" style="width: 480px !important;">
##					</div>
##				</div>
				<div class="control-group">
					<label class="control-label" for="riskLevel">选择风险等级：</label>
					<div class="controls">
						<select id="riskLevel" name="riskLevel" style="width: 480px !important;">
							<option value="1" selected="true">低风险</option>
							<option value="2">中风险</option>
							<option value="3">高风险</option>
						</select>
					</div>
				</div>
				#if(${inSide})
                    <div class="control-group">
                        <label class="control-label" for="businessId">所属商家：</label>
                        <div class="controls">
                            <input type="text" id="select-business" name="businessId" placeholder="所属商家"
                                   style="width: 480px !important;">
                        </div>
                    </div>
				#else<input type="hidden" name="businessId" value="${businessId}" >
				#end
				<div class="control-group">
					<div class="controls">
						<button type="button" class="btn" id="close-form">返回</button>
						<button type="button" class="btn green submit" id="form-submit"
							data-uid="$id" data-bid="$businessId">确定</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<input type="hidden" id="selectedBasicRegion" />
<script src="${formLink}/admin/media/js/select2.min.js"
	type="text/javascript"></script>
<script>
	seajs.use([ "$formLink/admin/static/app/acl/role/edit" ], function(main) {
		main.init();
	});
</script>