#* @implicitly included *#
#* @velocityproperties path="velocity.properties" runtime_root="../webapp/WEB-INF/vm" *#
<link href="$formLink/admin/media/css/bosco/list.css"
      rel="stylesheet" type="text/css">
<script src="http://g.tbcdn.cn/kissy/k/1.3.1/seed.js" data-config="{combine:true}"></script>

<style type="text/css">
    .u-tips {
        display: none;
        position: fixed;
        height: auto;
        z-index: 99999;
        left: 50%;
        top: 50%;
        width: 236px;
        margin-left: -118px;
        padding: 8px;
        line-height: 24px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .6);
        text-align: center;
        font-size: 20px;
        color: #fff;
        font-size: 1.4rem;
    }

    .regexTr span {
        float: left;
    }

    .regexTr label {
        float: left;
    }
</style>
<div class="page-content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">正则管理</h3>
                <span>$!message</span>
            </div>
        </div>
        <div class="row-fluid" margin-bottom-20 content-area
        ">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>
                    正则列表
                </div>
                <div class="actions">
                    <a href="#" data-toggle="modal" class="btn blue add"><i class="icon-pencil"></i>添加</a>
                </div>
            </div>

            <div class="portlet-body">
                <table class="table table-condensed table-hover" style="word-wrap:break-word;">
                    <thead>
                    <tr>
                        <th style="width: 5%;">编号</th>
                        <th style="width: 15%;">正则名</th>
                        <th style="width: 45%;">正则规则</th>
                        <th style="width: 30%;">说明</th>
                        <th style="width: 5%;">操作</th>
                    </tr>
                    </thead>
                    <tbody id="regex">

                        #foreach($basicVO in $basicVOList)
                        <tr class="u_$!basicVO.id regexTr">
                            <td class="regexId">$!basicVO.id</td>
                            #set ($nameArray = $!basicVO.name.split('_'))
                            <td>$nameArray[0]</td>
                            <td>
                                <div class="customerRegex">
                                    <span style="font-size:10px;">大写字母开头</span>
                                    <label class="input-check">
                                        <input class="regex-upperCaseHead" type="checkbox" disabled="disabled">
                                    </label>
                                    <span style="font-size:10px;">可选下划线</span>
                                    <label class="input-check">
                                        <input class="regex-underline" type="checkbox" disabled="disabled">
                                    </label>
                                    <span style="font-size:10px;">可选字母</span>
                                    <label class="input-check">
                                        <input class="regex-english" type="checkbox" disabled="disabled">
                                    </label>
                                    <span style="font-size:10px;">可选大写字母</span>
                                    <label class="input-check">
                                        <input class="regex-upperCase" type="checkbox" disabled="disabled">
                                    </label>
                                    <span style="font-size:10px;">可选中文</span>
                                    <label class="input-check">
                                        <input class="regex-chinese" type="checkbox" disabled="disabled">
                                    </label>
                                    <span style="font-size:10px;">可选数字</span>
                                    <label class="input-check">
                                        <input class="regex-number" type="checkbox" disabled="disabled">
                                    </label>
                                </div>
                                <span class='regexRule' style="width: 70%;">$!basicVO.rule</span>
                            </td>
                            <td>$!basicVO.info</td>
                            <td>
                                <a href="#" data-toggle="modal" data-uid="$!basicVO.id"
                                   class="btn mini red showUpdateRegex" style="margin-left: 3px;">
                                    修改
                                </a>
                            </td>
                        </tr>
                        <tr class="update_$!basicVO.id regexTr" style="display: none">
                            <td>$!basicVO.id</td>
                            #set ($nameArray = $!basicVO.name.split('_'))
                            <td><input class="regexName" value="$nameArray[0]"></td>
                            <td>
                                <div class="regexRuleBox">
                                    <span style="font-size:10px;">表达式</span>
                                    <label class="input-check">
                                        <input class="isCustomerRule" data-uid="$!basicVO.id" type="checkbox">
                                    </label>
                                    <div class="customerRegex">
                                        <span style="font-size:10px;">大写字母开头</span>
                                        <label class="input-check">
                                            <input class="regex-upperCaseHead" type="checkbox">
                                        </label>
                                        <span style="font-size:10px;">可选下划线</span>
                                        <label class="input-check">
                                            <input class="regex-underline" type="checkbox">
                                        </label>
                                        <span style="font-size:10px;">可选字母</span>
                                        <label class="input-check">
                                            <input class="regex-english" type="checkbox">
                                        </label>
                                        <span style="font-size:10px;">可选大写字母</span>
                                        <label class="input-check">
                                            <input class="regex-upperCase" type="checkbox">
                                        </label>
                                        <span style="font-size:10px;">可选中文</span>
                                        <label class="input-check">
                                            <input class="regex-chinese" type="checkbox">
                                        </label>
                                        <span style="font-size:10px;">可选数字</span>
                                        <label class="input-check">
                                            <input class="regex-number" type="checkbox">
                                        </label>
                                    </div>
                                    <input class='regexRule' value="$!basicVO.rule" style="width: 70%;">
                                </div>
                            </td>
                            <td><textarea class='regexInfo'>$!basicVO.info</textarea></td>
                            <td>
                                <a href="#" data-toggle="modal" data-uid="$!basicVO.id"
                                   class="btn mini red updateRegex" style="margin-left: 3px;">
                                    保存
                                </a>
                            </td>
                        </tr>
                        <script>
                            var uBox = $('.u_$!basicVO.id');
                            var updateBox = $('.update_$!basicVO.id');
                                #if($nameArray.size()>1)
                                uBox.find('.regexRule').hide();
                                updateBox.find('.regexRule').hide();
                                    #foreach($name in $nameArray)
                                        #if($name!=$nameArray[0])
                                        uBox.find('.$name').attr("checked", true);
                                        updateBox.find('.$name').attr("checked", true);
                                        #end
                                    #end
                                #else
                                uBox.find('.customerRegex').hide();
                                uBox.find('.isCustomerRule').attr("checked", true);
                                updateBox.find('.customerRegex').hide();
                                updateBox.find('.isCustomerRule').attr("checked", true);
                                #end
                        </script>
                        #end
                    <tr style="display: none" id="newRegex" class="regexTr">
                        <td></td>
                        <td><input id='regexName'></td>
                        <td>
                            <div id="regexRuleBox">
                                <span style="font-size:10px;">表达式</span>
                                <label class="input-check">
                                    <input id="isCustomerRule" type="checkbox">
                                </label>
                                <div id="customerRegex">
                                    <span style="font-size:10px;">大写字母开头</span>
                                    <label class="input-check">
                                        <input id="regex-upperCaseHead" type="checkbox">
                                    </label>
                                    <span style="font-size:10px;">可选下划线</span>
                                    <label class="input-check">
                                        <input id="regex-underline" type="checkbox">
                                    </label>
                                    <span style="font-size:10px;">可选字母</span>
                                    <label class="input-check">
                                        <input id="regex-english" type="checkbox">
                                    </label>
                                    <span style="font-size:10px;">可选大写字母</span>
                                    <label class="input-check">
                                        <input id="regex-upperCase" type="checkbox">
                                    </label>
                                    <span style="font-size:10px;">可选中文</span>
                                    <label class="input-check">
                                        <input id="regex-chinese" type="checkbox">
                                    </label>
                                    <span style="font-size:10px;">可选数字</span>
                                    <label class="input-check">
                                        <input id="regex-number" type="checkbox">
                                    </label>
                                </div>
                                <input id='regexRule' style="display: none;width: 70%;">
                            </div>
                        </td>
                        <td><textarea id='regexInfo'></textarea></td>
                        <td>
                            <div class="btn-group"><a href="#" class="btn mini red saveRegex" style="margin-left: 3px;">保存</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    seajs.use("$formLink/admin/static/app/adminForm/regex", function (main) {
        main.init();
    });

</script>
