/***
Coming All Page
***/

.sns-relative{ position: relative; }
.sns-absolute{ position: absolute; }
.sns-fixed{ position: fixed; }
.page-content{ background: #f4f4f4; }
.block-none{ display: none !important; }

/* advanced custom base css */
.page-title{ font-size: 20px; }

/* tags-category */
.modal{ position: fixed !important; }
.tags-cat-add{ border: 1px solid #DDD;border-radius: 8px !important;overflow: hidden; }
.tags-cat-add form{ margin-bottom: 0px; }
.tags-cat-add .control-group{ background: #FFF !important; }
.tags-cat-add .form-actions{ background: none;border: none;margin: 0px !important; }
.tags-cat-list{ border: 1px solid #DDD;border-radius: 8px !important;background: #FFF; }
.tags-cat-list .portlet-title{ padding: 0px !important; }
.tags-cat-list .tags-cat-title{ margin: 0px 10px;padding: 0px; }
.tags-cat-list .tags-cat-title li{ text-indent:10px;height: 35px;line-height: 35px;display: inline-block;width: 20%;float: left;color: #333;font-size: 14px; }
.tags-cat-list .portlet-body{ padding-top: 0px !important;}
.tags-cat-body .dd-item{ min-height: 35px;line-height: 35px;margin: 8px 0;width: 100%; }
.tags-cat-body .dd-list{ padding-left: 0px; }
.tags-cat-body .dd3-content{ border: none;background: #FFF;padding: 0px;margin: 0px;border-bottom: 1px solid #DDD;height: auto; }
.tags-cat-body .dd3-content span{ width: 20%;float: left;font-size: 14px;}
.dd3-content span .tags-cat-off,.dd3-content span .tags-cat-on{ display: none; }
.dd3-content span input{ border:1px solid #FFF;background: #FFF !important;box-shadow: 0px 0px 0px #FFF;width: 60%; }
.cur > div.dd3-content span.first input{ border:1px solid #DDD !important; }
.cur > div.dd3-content span .tags-cat-edit,.cur > div.dd3-content span .tags-cat-del{ display: none; }
.cur > div.dd3-content span .tags-cat-off,.cur > div.dd3-content span .tags-cat-on{ display: inline; }
.tags-cat-body .dd3-content span strong{ font-weight: bold;cursor: pointer;float: left; }
.tags-cat-body .dd3-handle{ top: 0px;left: auto;right: 0px; }
.tags-cat-body .dd3-item > button{ position: absolute;top: 0px;left: 0px;margin-left: -30px; }
.tags-cat-body .dd-child .cat-name{ text-indent: 25px; }
.categoryName,.categoryPid{ max-width: 80% !important; }
.tag_img{ width: 100px; height: 100px; margin-bottom: 8px;background:#cccccc;}
.up_load_tag_img{ position: relative; top: 5px; padding: 8px 10px; border: 1px solid transparent; background-color: #4092f1; color: #fff;}
.tag_upload_img{ margin-top:20px; width: 100px; height: 100px;}
.tag-edit-area{ position: absolute;left: 0;bottom: 7px;background: rgba(0,0,0,.5)!important;color: white;width: 100px !important;}
.tag-edit-btn{ color: white;position: relative;left: 25px;}
.quan-tag-rank{ width: 20% !important;}
.sort-menu{ margin-bottom: 15px; font-size: 14px;}
.parent-sort{ list-style: none; overflow: auto; float: left; margin: 0 25px 0 0;}
.tag-parent-btn{ float: left; padding: 0 5px; border-right: 1px solid #ddd; line-height: 30px;}
.tag-parent-btn a{ padding: 5px 10px;}
.tag-view-module{ margin-left: 20px; position: relative; float: left;}
.module-choice{ position: absolute; list-style: none;  display: none;  margin: 0; top: 30px; left: 42px; width: 130px; border: 1px solid #ddd; border-top: none; z-index: 999; background: #F4F4F4;}
.cur-sort{ background-color: #4d90fe;  color: #fff;}
.selected-module{ width: 110px; height: 28px; border: 1px solid #ddd; display: block; padding: 0 10px;  color: #0D638F;}
.module-choice li a{ display: block;  text-align: center; padding: 6px;}
.tag-view-module span{ float: left; line-height: 30px;}
.module-choice li a:hover { background-color: #4D90FE; color: #fff;}
.tag-view-module:hover .module-choice{ display: block;}
.upload-usertag-icon{ width: 100px; height: 100px;}
.small-list-area{ width: 10% !important;}
.middle-list-area{ width: 20% !important;}
.large-list-area{ width: 30% !important;}
.user-tag-add-label{ width: 25% !important;}
.user-tag-add-msg{ margin-left: 25% !important;}
.check-genera{ margin-bottom: 15px;}
.qy-val{ display: none;}
.zc-val{ display: none;}
.tags-commend-off{ display: none;}
.tags-commend-on{ display: none;}

/* article list */ 
.article-listBox { overflow: hidden;margin-left: 0px !important;padding-bottom: 20px;border-bottom: 1px solid #DDD;margin-bottom: 20px; }
.article-listBox .booking-img { margin-right: 2%;overflow: hidden;display: block; }
.article-listBox .none_1{ display: block !important; }
.article-listBox .none_0{ display: none !important; }
.article-listBox .booking-img li { color: #777; }
.article-listBox .booking-img li i { color: #78ccf8;font-size: 12px;margin-right: 5px; }
.article-listBox .booking-img img { float: left;height: 120px;margin: 0; }
.article-listBox h2 { margin-top: 0;font-size: 20px;line-height: 20px; }
.article-listBox ul.inline li { padding: 0; }
.article-listBox ul.inline li i { color: #f8be2c;cursor: pointer;font-size: 16px; }
.article-listBox ul.inline li i:hover { color: #f8be2c;background: #c00; }
.article-listBox .book-table{ height: 120px;overflow: hidden;display: table; }
/*.article-listBox img{ width: 100%; }*/
.article-listBox .book-table-cell{  }
.listSearchBox{ margin-bottom: 10px; overflow: auto; }
.article-msg{ list-style: none;margin: 0;}
.article-msg li{ display:inline; line-height: 30px;}
.renewBtn, .change_push, .delSetTopBtn, .delBtn, .setTopBtn, .cmtBtn{ width: 70px; }
.article-content{ margin-top: 5px; margin-bottom: 0px;}
.list-select-box{ float: left; margin-top: 0px; margin-right: 2% !important;}
.multi-action-box{ margin-left: 0px !important; line-height: 44px;}
.select-time-area{ margin-left: 0px !important;}
.select-time-area span{ line-height: 34px;}
.select-all-list-label{ float: left;}
.list-search-box{ margin-left: 0px; width: 10%; float: right;}
.list-refresh{ marign-left: 20px;}
.list-action-top-area{ border-bottom: 1px solid #DDD; margin-bottom: 20px;}
.package-list--top-area{ margin-bottom: 20px;}
.select-all-list-label{ line-height: 44px; margin-right: 30px;}
.search-btn{ margin-left: 15px;border-radius: 5px !important}
.refresh-btn{ margin-left: 15px;}
.no-list{ text-align: center;}
.right-action-btn{ float: right;}
.content-area{ width:auto; padding: 30px;background: #FFF;margin: 0 auto;}

/*thread list*/
.disabled_action{ padding: 7px 35px;}
.list-table>thead>tr>th{ text-align: center; vertical-align: middle;}
.list-table>tbody>tr>td{ text-align: center; vertical-align: middle;}
.thread-img{ max-height: 30%; max-width: 30%;}
.thread-img-td{ text-align: left !important;}

/*user*/
.user-search-action{ margin-bottom: 10px;}
.user_image_show{ width: 100px; height: 100px;}
.user-info-list{ border-top: 7px solid #ddd; padding: 20px 0;}
.img_64{max-width:64px;max-height:64px; }

/*group chat*/
.group-chat-add{ margin-bottom: 20px; border-bottom: 1px solid #ddd;}
.chat-theme{ margin-bottom: 15px;}
.chat-add-display{ margin-bottom: 10px;}
.chat-theme span{ line-height: 34px;}
.chat-roles span { line-height: 34px;}
.chat-roles{ margin-left: 0px !important;}
.theme-role{ width: 15%;}
.role-input{ width: 70%; max-width: 150px;}
.add-theme-btn{ margin: 15px 0 20px 0px;}
.edit-theme-btn{ margin: 15px 0 20px 0px;}
.groupchat-topics h4{ margin: 0px; padding: 10px 20px;}
.groupchat-theme-list-id{ width: 20% !important;}
.groupchat-theme-list-name{ width: 50% !important;}
.groupchat-theme-list-action{ width: 30% !important;}
.groupchat-search-action{ margin: 0px -10px 30px -10px; border-bottom: 1px solid #ddd; padding: 10px;}
.groupchat-room-msg{ font-size: 14px;}
.groupchat-room-title{ margin-bottom: 15px;}

/*complain*/
.complain-list{ width: 100px; height: 100px;}
.complain-img-td{ text-align: left !important;}
.margin-bottom-0{ margin-bottom: 0px !important;}

/*quan*/
.quan-icon-img{ width: 100px; height: 100px;}
.multi-action-select-box{ position: relative; float: left; top: 5px;}
.multi-action-select-box ul{ list-style: none; position: absolute; margin: 0; background-color: #F4F4F4; display:none;}
.select-all-box{ overflow: auto; float: left;}
.multi-to-action{ border: 1px solid #ddd; padding: 0px 25px 0px 10px; font-size: 14px; line-height: 32px;}
.pull-down-triangle{ width: 0; height: 0; border-width: 10px 4px; border-style: solid;  border-color: #000 transparent transparent transparent; position: absolute; top: 13px; right: 11px;}
.multi-action-select-box ul li a{ color: #0d638f; width:100%;}
.multi-action-select-box ul li a:hover{ background-color:#4D90FE !important; color: #fff !important;}


/*cur_user*/
.cur_user_msg_box{ margin-top: 20px; margin-left: 10% !important; border: 1px solid #ddd; border-radius: 15px !important; padding: 20px 0 20px 0; font-size: 16px; color: #444; background-color: #fff;}
.cur_user_msg_row{ line-height: 45px; border-top: 1px solid #ddd;}
.cur_user_msg_item{ text-align: right; border-right: 1px solid #ddd; padding-right: 25px;}
.cur_user_msg_row:last-child{ border-bottom: 1px solid #ddd;}
.role-details{ margin-right: 10px;}