<link href="$formLink/admin/media/css/bosco/list.css" rel="stylesheet" type="text/css">
<style>
    .btn {
        border-radius: 6px !important;
    }
</style>
<script src="http://g.tbcdn.cn/kissy/k/1.3.1/seed.js" data-config="{combine:true}"></script>

<div class="page-content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">部门管理</h3>
                <span>$!message</span>
            </div>
        </div>
        <div class="row-fluid margin-bottom-20 content-area ">
            <div class="span12 list-action-top-area">
                <form action="/acl/group/index" class="form-horizontal listSearchBox" method="post">
                    <div class="span12">
                        #if(${inSide})
                            <span class="help-inline">商家名称：</span>
                            <input type="hidden" id="select-business" name="businessId" placeholder="商家名称"
                                   style="width: 240px" value=$!businessId>
                        #end
                        <span class="help-inline">部门名称：</span>
                        <input type="text" class="m-wrap small" name="deptName" id="deptName" value=$!deptName>
                        <button type="submit" class="btn  search-btn">搜 索</button>
                        <a href="/acl/group/goTo/add" class="btn add" style="background-color:#E0E0E0;color: #1a1a1a;margin-left:30px;">
                            <i class=" icon-pencil"></i>添加</a>
                        <a href="#batch-del-modal" data-toggle="modal" class="btn ">
                            <i class="icon-pencil"></i>删除</a>
                    </div>
                </form>
            </div>
            <div class="portlet-body">
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th><input type="checkbox" id="all-checkbox"></th>
                        <th>编号</th>
                        <th>部门名称</th>
                        <th>部门说明</th>
                        <th>状态</th>
                        <th>上级部门名称</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach($basicVO in $basicVOList)
                        <tr class="u_$!basicVO.id">
                            <td><input type="checkbox" class="list-checkbox" value="$!basicVO.id"></td>
                            <td>$!basicVO.id</td>
                            <td>$!basicVO.name</td>
                            <td>$!basicVO.description</td>
                            <td>$!basicVO.status</td>
                            <td>$!basicVO.pname</td>
                            <td>
                                <div class="btn-group">
                                    <a href="#set-leader-modal" data-toggle="modal" data-uid="$!basicVO.id"
                                       class="btn mini blue set-leader" style="margin-left: 3px;">
                                        <i class="icon-cog"></i>设置部门leader
                                    </a>
                                    <a href="#set-user-modal" data-toggle="modal" data-uid="$!basicVO.id"
                                       class="btn mini yellow set-user" style="margin-left: 3px;">
                                        <i class="icon-cog"></i>设置部门成员
                                    </a>
                                    <a href="#set-role-modal" data-toggle="modal" data-uid="$!basicVO.id"
                                       class="btn mini blue set-role" style="margin-left: 3px;">
                                        <i class="icon-cog"></i> 设置拥有角色
                                    </a>
                                    <a href="#myModal3" data-toggle="modal" data-uid="$!basicVO.id"
                                       class="btn mini green del" style="margin-left: 3px;">
                                        <i class="icon-trash"></i> 删除
                                    </a>
                                    <a href="/acl/group/goTo/modify?id=${basicVO.id}"  data-uid="$!basicVO.id"
                                       class="btn mini purple edit" style="margin-left: 3px;">
                                        <i class="icon-edit"></i> 修改</a>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
            #if ($totalCount > 0)
                <div class="pages" style="float: right">
                    #set($cpage = $pageUtil.pager($curPage, $pageSize, $totalCount))
				        #set($url = $formLink.setTarget('/acl/group/index').addQueryData(
                    'deptName', "$!deptName").fork())
				   		#showPage($cpage $url)
                </div>
            #end
        </div>
    </div>
    <!-- 部门成员设置-->
    <div id="set-user-modal" class="modal hide fade" tabindex="-1" style="top:10%"
         privilegeVOList="dialog" aria-labelledby="myModalLabel9" aria-hidden="true"
         data-backdrop="static">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3>设置部门成员</h3>
        </div>
        <div class="modal-body">
            <div id="select-user">

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
    </div>

    <!--设置部门角色 -->
    <div id="set-role-modal" class="modal hide fade" tabindex="-1" style="top:10%"
         privilegeVOList="dialog" aria-labelledby="myModalLabel9" aria-hidden="true"
         data-backdrop="static">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3>设置部门角色</h3>
        </div>
        <div class="modal-body">
            <div id="select-role">

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
    </div>
    <!--设置部门leader -->
    <div id="set-leader-modal" class="modal hide fade" tabindex="-1" style="top:10%"
         privilegeVOList="dialog" aria-labelledby="myModalLabel9" aria-hidden="true"
         data-backdrop="static">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3>设置部门leader</h3>
        </div>
        <div class="modal-body">
            <div id="select-leader">

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
    </div>

    <!--绑定模板 -->
    <div id="set-modal" class="modal hide fade" tabindex="-1" style="top:10%"
         privilegeVOList="dialog" aria-labelledby="myModalLabel9" aria-hidden="true"
         data-backdrop="static">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h3>绑定权限</h3>
        </div>
        <div class="modal-body">
            <div id="select">

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
    </div>
    <div id="batch-del-modal" class="modal hide fade" tabindex="-1" style="top:10%"
         role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true"
         data-backdrop="static">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true"></button>
            <h3 id="myModalLabel3">警告!</h3>
        </div>
        <div class="modal-body">
            <h4>确认删除这些部门？</h4>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button id="batch-del-submit" data-dismiss="modal" class="btn red"
                    data-uid="0">确定
            </button>
        </div>
    </div>
    <!--删除-->
    <div id="myModal3" class="modal hide fade" tabindex="-1" style="top:10%"
         role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true"
         data-backdrop="static">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true"></button>
            <h3 id="myModalLabel3">警告!</h3>
        </div>
        <div class="modal-body">
            <h4>确认删除该部门？</h4>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button id="affirm-del" data-dismiss="modal" class="btn red"
                    data-uid="0">确定
            </button>
        </div>
    </div>

##    <!--创建表单-->
##    <div id="modal-form-box" class="modal hide fade" style="top:10%" tabindex="-1" role="dialog"
##         aria-labelledby="myModalLabel1"
##         aria-hidden="true">
##        <div class="modal-header">
##            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
##            <h3 class="operation-name"></h3>
##        </div>
##        <div class="modal-body" style="text-align: left;">
##            <form id="form" method="post" class="form-horizontal">
##                <table style="width: auto">
##                    <tbody>
##                    <tr>
##                        <td>部门名称：</td>
##                        <td><input name="name" placeholder="部门名称" type="text" class="m-wrap large"></td>
##                    </tr>
##                    <tr>
##                        <td>部门说明：</td>
##                        <td><input name="description" placeholder="部门说明" type="text" class="m-wrap large"></td>
##                    </tr>
##                    <tr>
##                        <td>上级部门：</td>
##                        <td><input id="test" name="pid" placeholder="上级部门" type="text" class="m-wrap large"></td>
##                    </tr>
##                    </tbody>
##                </table>
##            </form>
##        </div>
##        <div class="modal-footer">
##            <button class="btn" id="close-modal" data-dismiss="modal"
##                    aria-hidden="true">关闭
##            </button>
##            <button id="modal-form-submit" class="btn green submit">确定</button>
##        </div>
    </div>
</div>

<input type="hidden" id="selectedBasicRegion"/>
<script src="${formLink}/admin/media/js/select2.min.js" type="text/javascript"></script>
<script src="${formLink}/admin/media/js/jquery.multi-select.js" type="text/javascript"></script>
<script>
    seajs.use(["$formLink/admin/static/app/acl/group/group", "$formLink/admin/static/app/acl/ajaxSelect2", "$formLink/admin/static/app/acl/ajaxMultiSelect"], function (main) {
        main.init();
    });
</script>
