<link href="$formLink/admin/media/css/bosco/list.css"
      rel="stylesheet" type="text/css">
<script src="http://g.tbcdn.cn/kissy/k/1.3.1/seed.js" data-config="{combine:true}"></script>

<style type="text/css">
    .u-tips {
        display: none;
        position: fixed;
        height: auto;
        z-index: 99999;
        left: 50%;
        top: 50%;
        width: 236px;
        margin-left: -118px;
        padding: 8px;
        line-height: 24px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .6);
        text-align: center;
        font-size: 20px;
        color: #fff;
        font-size: 1.4rem;
    }
</style>
<div class="page-content">
    <div class="container-fluid">
        <div class="row-fluid margin-bottom-20 content-area">

            <div class="portlet box">
                <div class="portlet-body">
                    <span style="color: blue;">欢迎您：$!{user.userName}(tel:$!{user.mobile})</span>
                </div>
            </div>
        </div>
    </div>
</div>
	
		 
