#set($layout = "/layout/content.vm")
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <title>任务工作台</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="robots" content="noindex,nofollow">
    <link href="$formLink/admin/media/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="$formLink/admin/media/css/datetimepicker.css" rel="stylesheet" media="screen"  type="text/css">
    <link href="$formLink/admin/media/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
    <script src="$formLink/admin/form/script/jquery.min.js"></script>
    <script type="text/javascript" src="$formLink/admin/form/script/configBase.js"></script>
    <script type="text/javascript" src="$formLink/admin/form/script/exam/filterexam.js?t=2016153612091"></script>
    <script src="${formLink}/admin/static/js/sea-modules/seajs/2.2.1/sea.js"></script>
    <script src="${formLink}/admin/static/js/app/seajs/config-seajs.js"></script>
    <script src="${formLink}/admin/media/js/bootstrap.min.js"></script>
    <script src="${formLink}/admin/media/js/bootstrap-datetimepicker.js"></script>
    <script src="${formLink}/admin/media/js/bootstrap-select.js"></script>
    <script src="${formLink}/admin/media/js/moment.js"></script>
</head>
<!-- CSS -->
<style>
    .ui-widget-header,.ui-state-default, ui-button {
        background:#b9cd6d;
        border: 1px solid #b9cd6d;
        color: #FFFFFF;
        font-weight: bold;
    }
    .ui-widget-overlay.custom-overlay
    {
        background-color: black;
        background-image: none;
        opacity: 0.9;
        z-index: 1040;
    }
    .input-top{
        margin-top: 10px;
    }
</style>
<body>
<!--主体框架开始-->
<div class="pagebox" id="pageContentId">
    <div class="home-desktop" id="desktop_scroll">
        <div style="width:1025px; position: relative;">
            <div class="create-questions-content">
                <div class="exam-nav">
                    <div class="exam-item">
                        <h4 class="exam-item-title">规则列表<i class="icon-expand"></i></h4>
                        <ul class="exam-nav-list" id="ui_sortable_exam">
                           #foreach($basicVO in $basicVOList)
                                <li data-uid="RULE">
                                    <a href="javascript:;" data-uid="$!basicVO.id" data-paramType="$!basicVO.paramType" data-paramKey="$!basicVO.paramKey" data-paramValueType="$!basicVO.paramValueType" data-desc="$!basicVO.desc">$!basicVO.desc</a>
                                </li>
                             #end
                        </ul>
                        <h4 class="exam-item-title">奖励<i class="icon-expand"></i></h4>
                        <ul class="exam-nav-list" id="ui_sortable_award">
                            <li data-uid="COUPON">
                                <a href="javascript:;" data-checkType="1">优惠券奖励</a>
                            </li>
                            <li data-uid="SCORE">
                                <a href="javascript:;" data-checkType="2">积分奖励</a>
                            </li>
                            <li data-uid="CASH">
                                <a href="javascript:;" data-checkType="3">现金奖励</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--开始位置-->
                <div class="create-questions">
                    <div class="questions-head-title">
                        <h4 class="h4-bg T-center" style="background-color: #008fbf"><span style="font-size:18px;"><font
                                color="#fff" id="formTitle">过滤器详情</font></span></h4>
                    </div>
                    <input type="text" id="textarea_filter_id" style="display: none">
                    过滤器名称&nbsp;&nbsp;<input type="text" id="textarea_filter_name" class="input-top" style="border:1px solid;border-color:rgba(82,168,236,.8);width: 100px;height: 30px;" >


                    <div class="tabbable" id="tabs-filter">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#sponsor-rule" data-toggle="tab">领取任务规则</a>
                            </li>
                            <li>
                                <a href="#participator-rule" data-toggle="tab">参与任务规则</a>
                            </li>
                            <li>
                                <a href="#sponsor-award" data-toggle="tab">发起者奖励</a>
                            </li>
                            <li>
                                <a href="#participator-award" data-toggle="tab">参与者奖励</a>
                            </li>
                            <li>
                                <a href="#share-award" data-toggle="tab">邀请人奖励</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="sponsor-rule">
                               规则 <ul  id="ruleRegion">

                                   </ul>
                            </div>
                            <div class="tab-pane" id="participator-rule">
                                规则 <ul  id="ruleRegion">

                                     </ul>

                            </div>
                            <div class="tab-pane" id="sponsor-award">
                                规则 <ul  id="ruleRegion">

                                     </ul>
                                奖励 <ul  id="awardRegionFix">
                                <li class="awardComponent" >
                                                    <span>
                                                     自动发放<input type="checkbox" id="textarea_filter_is_auto" class="input-top" style="border:1px solid;border-color:rgba(82,168,236,.8);margin-left: 5px;">
                                                    </span>
                                </li>
                                <li class="awardComponent" >
                                                    <span>
                                                       表单编号 <input type="text" id="textarea_filter_form_id" class="input-top" style="border:1px solid;border-color:rgba(82,168,236,.8);width: 200px;height: 30px;margin-left: 5px;">
                                                    </span>
                                </li>
                                     </ul>
                            </div>
                            <div class="tab-pane" id="participator-award">
                                规则 <ul  id="ruleRegion">

                                     </ul>
                                奖励 <ul  id="awardRegionFix">
                                        <li class="awardComponent" >
                                                    <span>
                                                     自动发放<input type="checkbox" id="textarea_filter_is_auto" class="input-top" style="border:1px solid;border-color:rgba(82,168,236,.8);margin-left: 5px;">
                                                    </span>
                                        </li>
                                        <li class="awardComponent" >
                                                    <span>
                                                       表单编号 <input type="text" id="textarea_filter_form_id" class="input-top" style="border:1px solid;border-color:rgba(82,168,236,.8);width: 200px;height: 30px;margin-left: 5px;">
                                                    </span>
                                        </li>
                                    </ul>
                            </div>
                            <div class="tab-pane" id="share-award">
                                奖励 <ul  id="awardRegionFix">

                                     </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height:40px; margin: 20px 0; text-align: right;">
                <button id="saveForm" type="button" class="cotrlBtn exam-save-btn btnBlue" value="" style="height:40px;width: 140px; font-size:18px;">保存</button>
                <button id="closeFormPage" type="button" class="cotrlBtn exam-close-btn btnBlue" style="height:40px;width: 140px; font-size:18px;">关闭</button>
            </div>
        </div>
    </div>

    <!--渲染模块   规则-->
    <script type="text/html" id="rule_choice">
        <li class="ruleComponent delComponent" id="u_{{uid}}">
            <span>
                <input type="text" disabled="disabled" value="{{paramKey}}" id="textarea_filter_param_key" class="input-top" style="border:1px solid;border-color:rgba(82,168,236,.8);width: 100px;height: 30px;margin-left: 5px;">
            </span>
            <span>
                  <select id="textarea_filter_param_operator" class="selectpicker show-tick dropup {{uuid}}" data-live-search="true"  data-style="btn-info" data-width="auto">
                        <option value="GE" >大于等于</option>
                        <option value="GT" >大于</option>
                        <option value="LE" >小于等于</option>
                        <option value="LT" >小于</option>
                        <option value="EQ" >等于</option>
                  </select>
            </span>
            <span>
                &nbsp;&nbsp;&nbsp;&nbsp;参数值 <input type="text" value="{{paramValue}}" id="textarea_filter_param_value" class="input-top" style="border:1px solid;border-color:rgba(82,168,236,.8);width: 100px;height: 30px;margin-left: 5px;" >
            </span>
            <!--删除按钮-->
            <span>
                <button  type="button" class="cotrlBtn exam-close-btn btnBlue delComponentBtn" style="border:1px solid;border-color:rgba(82,168,236,.8);width: 100px;height: 30px;margin-left: 5px;">删除</button>
            </span>
        </li>
    </script>

    <!--渲染模块   奖励-->
    <script type="text/html" id="award_choice">
        <li class="awardComponent delComponent" >
            <span>
                <input type="text" disabled="disabled" value="{{awardName}}" data-awardType="{{awardType}}"  id="textarea_filter_award_type" class="input-top" style="border:1px solid;border-color:rgba(82,168,236,.8);width: 100px;height: 30px;margin-left: 5px;">
            </span>
            <span>
                &nbsp;&nbsp;&nbsp;&nbsp;奖励数量 <input type="text" value="{{amount}}" id="textarea_filter_award_amount" class="input-top" style="border:1px solid;border-color:rgba(82,168,236,.8);width: 100px;height: 30px;margin-left: 5px;" >
           </span>
            <span>
                {{if awardType==1}}优惠券号码{{/if}}<input type="text"  value="{{couponCode}}"  id="textarea_filter_award_code" class="input-top" style="border:1px solid;border-color:rgba(82,168,236,.8);width: 100px;height: 30px;margin-left: 5px;display: {{if awardType==1}}inline{{else}}none{{/if}};">
            </span>
            <!--删除按钮-->
            <span>
                <button  type="button" class="cotrlBtn exam-close-btn btnBlue delComponentBtn" style="border:1px solid;border-color:rgba(82,168,236,.8);width: 100px;height: 30px;margin-left: 5px;">删除</button>
            </span>
        </li>
    </script>


    <script type="text/javascript">

        seajs.use("$formLink/admin/static/app/mission/filterbuilder", function (main) {
            main.init();
        });

        $(function () {
            filterExam.init();
        });
    </script>
    <script type="text/javascript">
        $(".datetimepicker").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
    </script>

</div>

</body>

</html>
