<link href="$formLink/admin/media/css/bosco/list.css"
      rel="stylesheet" type="text/css">
<link href="$formLink/admin/media/css/jquery.mCustomScrollbar.css"
      rel="stylesheet" type="text/css">
<link href="$formLink/admin/media/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
<script src="${formLink}/admin/media/js/bootstrap-select.js"></script>

<script type="text/javascript" src="$formLink/admin/form/script/exam/missionexam.js?t=2016153612101"></script>


<script src="${formLink}/admin/media/js/bootstrap-datetimepicker.js"></script>
<script src="${formLink}/admin/media/js/bootstrap-select.js"></script>
<script src="${formLink}/admin/media/js/moment.js"></script>
<script src="${formLink}/admin/media/js/jquery.fileupload.js"></script>

<link rel="stylesheet" type="text/css" href="$formLink/admin/vendor/ueditor/aio_5dda8af.css"/>
<script type="text/javascript" src="$formLink/admin/vendor/ueditor/lib_4e7f7bf.js"></script>

<script src="$formLink/admin/media/js/ui-nestable.js"></script>
<script src="$formLink/admin/media/js/chosen.jquery.min.js" type="text/javascript"></script>
<script src="$formLink/admin/media/js/app.js"></script>
<script src="$formLink/admin/media/js/form-components.js"></script>
<script src="$formLink/admin/media/js/thread/createByUeditor.js"></script>


<style type="text/css">
    .u-tips {
        display: none;
        position: fixed;
        height: auto;
        z-index: 99999;
        left: 50%;
        top: 50%;
        width: 236px;
        margin-left: -118px;
        padding: 8px;
        line-height: 24px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .6);
        text-align: center;
        font-size: 20px;
        color: #fff;
        font-size: 1.4rem;
    }

    .div_frame, .div_frame_2 {
        margin-left: 20px;
        margin-bottom: 15px;
        float: left;
    }

    .div_frame_2 {
        width: 900px;
    }

    .div_frame_1 {
        float: left;
        width: 130px;
        margin-left: 22px;
    }

    ul {
        list-style-type: none;
    }

    li {
        border: solid 1px;
        width: 100px;
    }

    .liShow {
        display: block;
        background: while;
    }

    .liHide {
        display: none;
        background: blue;
    }

    .button_cancel {
        width: 15px;
        height: 15px;
        border-radius: 20px; /* font-size: 10px;*/
        background-image: url('${formLink}/admin/media/upload/img/cancel.png');
        border: none;
        outline: none;
        position: absolute;
        margin-top: 10px;
        margin-left: 50px;
        background-color: transparent;
        background-size: cover;
        display: none;
    }

    .button_add {
        width: 42px;
        height: 41px;
        border-radius: 20px; /* font-size: 10px;*/
        background-image: url('${formLink}/admin/media/upload/img/add.png');
        border: none;
        outline: none;
        background-color: transparent;
        background-size: cover;
    }

    .img_arrow {

        /*   border: none;
            outline: none;
            position: absolute;
            margin-top: 4px;
            margin-left: 136px;
            background-color: transparent;
            background-size: cover;*/

    }
    .div_left,.div_right{
        float: left;
        width:550px;
        border: 1px solid black;
    }
    .share_image{
        width:330px;
        position: absolute;
        margin-left: 530px;
        margin-top:-100px;
    }
    .mission_detail_image{
        width:330px;
        position: absolute;
        margin-left: 520px;
        margin-top:-23px;
    }

    #mainbox,#rmainbox {
        width: 234px;
        border-radius: 5px;
    }

    #box0,#rbox0 {
        width: 150px;
        height: 20px;
        border: 1px solid gainsboro;
        border-radius: 5px;
        float: left;
        padding-top: 2px;
        padding-left: 2px;

    }

    #items,#ritems {
        border: 1px solid gainsboro;
        width: 152px;
        display: none;
        height: auto;
        overflow-y: scroll;
        text-align: center;
        margin-left:22px;
    }

    #box3 {
        width: 218px;
        /*border-bottom:1px solid green;
        border-left:1px solid green;
        border-right:1px solid green;
*/
        padding-left: 4px;
    }

    .over {
        background-color: #11586E;
        font-weight: bold;
        color: #FFF;
        /*border-top:1px dotted black;
        border-bottom:1px dotted black;*/
        cursor: pointer;
    }

    p {
        font-size: 12px;
        color: activeCaption;
        font-weight: bold;
    }
</style>
<div class="page-content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">任务添加</h3>
                <span>$!message</span>
            </div>
        </div>
        <div style="margin-top: 0;margin-left:0;width: 550px;clear: both;height: 20px">
            <ul style="list-style-type:none">
                <li style="border: solid 1px #ABABAB;float:left;width:150px;background-color:#ABABAB;text-align: center">
                        <span style="color: white ;">
                                 1.填写基本任务信息
                         </span>
                </li>
                <li style="border: solid 1px #666666;float:left;background-color:#666666;width:150px;text-align: center">
                    <span style="color: white;">
                        2.完善任务详情
                     </span>
                </li>
                <li style="border: solid 1px #BBBBBB;float:left;width: 150px;background-color:white;text-align: center">
                    <span>
                        3.配置H5页面
                     </span>
                </li>
            </ul>
        </div>
        <div class="span12 list-action-top-area">
        </div>

        <!--任务信息-->
        <div style="width: 1200px;text-align: left;float:left;">
            <div class="div_frame">
                <div ReadOnly="true" class="div_frame_1">任务完成条件：</div>
                <div class="div_frame_2" style="margin-left: 25px">
                    #if($missionType=="VIDEO")
                        1 . 领取任务，浏览广告页面
                    #end
                    #set($i=1)
                    #foreach($missionConditionResult in $!list)
                        <div>
                            #if($filterRuleVO)
                            #end

                            #if($!missionConditionResult.id ==  1)
                                $i . 成功注册后在活动期间累计登录<input type="text" id="textarea_mission_condition_1"
                                                          class="input-top"
                                                          style="border:1px solid;border-color:rgba(82,168,236,.8);width: 40px;height: 30px;margin-left: 5px"/>天
                            #elseif($!missionConditionResult.id == 2)
                                $i . 成功注册后在活动期间内累计保存作品到服务器<input type="text" id="textarea_mission_condition_2"
                                                             class="input-top"
                                                             style="border:1px solid;border-color:rgba(82,168,236,.8);width: 40px;height: 30px;margin-left: 5px"/>次
                            #elseif($!missionConditionResult.id == 3)
                             $i . 成功注册后在活动期间内累计保存作品到本地<input type="text" id="textarea_mission_condition_3"
                                                     class="input-top"
                                                     style="border:1px solid;border-color:rgba(82,168,236,.8);width: 40px;height: 30px;margin-left: 5px"/>次
                            #elseif($!missionConditionResult.id == 11)
                                $i . 发布活动作品数<input type="text" id="textarea_mission_condition_11"
                                                                class="input-top"
                                                                style="border:1px solid;border-color:rgba(82,168,236,.8);width: 40px;height: 30px;margin-left: 5px"/>次
                            #end
                        </div>
                        #set($i=$i+1)
                    #end
                </div>
            </div>

            <div class="div_frame" style="float: left">
                <div ReadOnly="true" class="div_frame_1">奖励发放方式：</div>
                <div class="div_frame_2" style="margin-left: 25px"><input type="radio" name="radio_award_way" value="1" checked="checked"/>完成后自动发放
                    #if($missionType!="VIDEO")
                        <input type="radio" name="radio_award_way" value="0"/>完成后手动审核
                    #end

                </div>
            </div>

        #*富文本编辑器*#
            <div class="div_frame">
                <div ReadOnly="true" class="div_frame_1">任务详情说明：</div>
                <div class="div_frame_2" style="margin-left: 25px">
                    <div class="mission_detail_image">任务详情示例：<img src="/admin/media/image/mission_detail_example.png" style="margin-top: 5px"></div>
                    <div class="control-group hidden">
                        <label class="control-label">图片</label>
                        <div class="controls">
                            <a class="btn blue FlickrUpload" href="javascript:void(0)">选择图片</a>
                            <ul id="Flickr" class="unstyled blog-images" style="width:500px;">
                            </ul>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <div class="row-fluid">
                                <div class="span6" >
                                        <textarea name="textarea_mission_content" id="editor" placeholder="Hello World!"
                                                  autofocus></textarea>
                                </div>
                                <div class="span6 hide">
                                    <div id="preview hide"
                                         style="width: 414px; height: 736px; border: 1px solid #585858;clear:both">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="div_frame">
                <div ReadOnly="true" class="div_frame_1">投放渠道：</div>
                <div class="div_frame_2" style="margin-left: 2px">
                    <div id="mainbox">
                        <div id="box0" class="div_frame_1">渠道选择&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/admin/form/skin/image/icon/arrow.png" class="img_arrow"></div>
                        <div id="items">
                            <table border="0" width="100%" bgcolor="#000000">
                                <table id="mission_channel" border="0" width="100%" cellpadding="0" cellspacing="1">
                                </table>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="div_frame">
                <div ReadOnly="true" class="div_frame_1">推荐渠道：</div>
                <div class="div_frame_2" style="margin-left: 2px">
                    <div id="rmainbox">
                        <div id="rbox0" class="div_frame_1">渠道选择&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/admin/form/skin/image/icon/arrow.png" class="img_arrow"></div>
                        <div id="ritems">
                            <table border="0" width="100%" bgcolor="#000000">
                                <table id="mission_recommend_channel" border="0" width="100%" cellpadding="0" cellspacing="1">
                                </table>

                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <div class="div_frame">
                <div ReadOnly="true" class="div_frame_1">投放系统：</div>
                <div class="div_frame_2" style="margin-left: 2px">
                    <select style="background-color: #F4F4F4;margin-left: 22px;width: 153px;height: 25px;padding: 0px" id="app_type">
                        <option value=null >ios/Android（默认）</option>
                        <option value="IOS">ios</option>
                        <option value="ANDROID">Android</option>
                    </select>

                </div>
            </div>
            #if($!missionType=="NEWER")

                <div class="div_frame">
                    <div class="div_frame_1">分享连接的标题：</div>
                    <div class="div_frame_2" ><input type="text" id="textarea_share_title"
                                                    class="input-top" maxlength="14"
                                                    style="border:1px solid;border-color:rgba(82,168,236,.8);width: 200px;height: 30px;margin-left: 5px"
                                                     value="$!share.title" #*onchange="shareTitleJudge()"*#/><span style="color: grey;margin-left: 3px;">建议14个字以内</span>

                        <div class="share_image">微信分享示例：<img src="/admin/media/image/share_example.png" style="margin-top: 5px"></div>
                    </div>
                </div>

                <div class="div_frame">
                    <div class="div_frame_1">分享说明：
                    </div>
                    <div class="div_frame_2" > <textarea rows="2" id="textarea_share_desc"
                                                        class=""  maxlength="20"
                                                        style="border:1px solid;border-color:rgba(82,168,236,.8);width: 200px;resize: none;margin-left: 5px" #*onchange="shareDescJudge()"*#>$!share.desc</textarea><span style="color: grey;margin-left: 3px;">建议20个字以内</span>
                    </div>
                </div>

                <div class="div_frame">
                    <div class="div_frame_1">分享icon：</div>
                    <div class="div_frame_2" style="margin-left: 25px">
                        <button class="button_add">
                            <span></span>
                        </button>
                        <button class="button_cancel"></button>
                        <input type="file" name="file" id="file" style="display: none"
                               accept="image/gif, image/jpeg,image/png">
                        <img id="icon_show" style="width:40px;margin-top:10px;margin-bottom:8px;display: none"
                             src="">
                    </div>
                    <span style="color: grey;display:inline-block ;height: 50px;position: absolute;margin-top: 20px;margin-left: -800px">建议尺寸：宽（120）X高（120)；大小<15K</span>
                </div>
            #end
            #if($!missionType=="EXPAND")
                <div class="div_frame">
                    <div class="div_frame_1">活动跳转地址：</div>
                    <div class="div_frame_2">
                        <input type="text" id="textarea_share_template" class="input-top" maxlength="14" style="border:1px solid;border-color:rgba(82,168,236,.8);width: 200px;height: 30px;margin-left: 5px"
                                                    value="$!share.template"/>#*<span style="color: grey;margin-left: 3px;">建议14个字以内</span></div>*#


                </div>


            #end
            #if($!missionType=="VIDEO")
            <div class="div_frame">
                <div class="div_frame_1">广告链接：</div>
                <div class="div_frame_2">
                    <input type="text" id="textarea_share_link" class="input-top" maxlength="14" style="border:1px solid;border-color:rgba(82,168,236,.8);width: 200px;height: 30px;margin-left: 5px"
                           value="$!share.link"/>#*<span style="color: grey;margin-left: 3px;">建议14个字以内</span></div>*#


                </div>


            #end
        </div>
        <input type="text" id="mission_id" style="display: none" value="$!id">
        <div style="height:40px;width:auto;clear: both ;text-align: center ;margin-bottom: 15px">
            <a href="#" id="removeStep1" class="btn gray search-btn" style="width: 80px;height: 23px">上一步</a>
            <a href="#" id="saveStep2" class="btn green search-btn" style="width: 80px;height: 23px;margin-left: 40px">
        #if($missionType=="NEWER")
            下一步
            #elseif($missionType=="EXPAND"||$missionType=="VIDEO")
            完成
        #end
        </a>
        </div>
    </div>
    <script type="text/javascript">


        function alertGlobalErrorCall(result) {
            var errorCode=result.code;
            var errorMap= jQuery.getGlobalErrorMap();
            if(errorCode==224){
                jQuery.noPrivilege(result.data)
                return;
            }
            if(errorCode==225){
                jQuery.stackTrace(result)
                return;
            }
            if(errorMap[errorCode]!=null){
                jQuery.notify(errorMap[errorCode],"warn");
            } else {
                jQuery.notify("系统异常","warn");
            }
        }

        //初始化上传插件
        $('#file').fileupload({
            autoUpload: true, //这里为true，则选中文件后就会自动上传
            type: "POST",
            url: '/pic/missionSharePic',
            sequentialUploads: true,
            fail: function (msg) {
                alert("上传失败，请重新上传！");
            }
        }).bind('fileuploadprogress', function (e, data) {
            $(".button_add").css("display", "none");
            $("#icon_show").css("display", "block");
            $("#icon_show").attr("src", "/admin/media/image/loading2.gif");
            $(".button_cancel").css("display", "block");
            $(".button_add").css("display", "none");
        }).bind('fileuploaddone', function (e, data) {
            if (!data.result.success) {
                alertGlobalErrorCall(data.result);
                $("#icon_show").attr("src", "");
                $("#icon_show").css("display", "none");
                $(".button_cancel").css("display", "none");
                $(".button_add").css("display", "block");
                return;
            }
            if (data.result.code == 200) {
                $("#icon_show").attr("src", data.result.data);
                $("#icon_show").css("display", "block");
                $(".button_cancel").css("display", "block");
                $(".button_add").css("display", "none");
            }
        })

        $(".button_cancel").on("click", function () {
            $("#icon_show").css("display", "none");
            $("#icon_show").attr("src", "");
            $("#file").val("");
            $(".button_cancel").css("display", "none");
            $(".button_add").css("display", "block");
        })

        function  shareTitleJudge(){
            var str = $('#textarea_share_title').val();
            if (str.match(/^[0-9a-zA_Z]+$/)){
                alert("请按要求输入！");
                return;
            }
        }
        function  shareDescJudge(){
            var str = $('#textarea_share_desc').val();
            var strs=str.replace(/(^\s+)|(\s+$)/g, "");//去除前后的空格
            if (!strs.match(/^[\u4e00-\u9fa5]{0,20}$/)){
                alert("请按要求输入！");
                $('#textarea_share_desc').val("");
                return;
            }
        }

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("table tr:nth-child(even)").addClass("even");
            #set($filterRuleDetailList = $filterRuleVO.filterRuleDetailList)

            #foreach( $filterRuleDetail in $filterRuleDetailList)
                #if($!filterRuleDetail.ruleKey=="login")
                    $("#textarea_mission_condition_1").val("$filterRuleDetail.ruleValue");
                #end
                #if($!filterRuleDetail.ruleKey=="opus_timeline")
                    $("#textarea_mission_condition_2").val("$filterRuleDetail.ruleValue");
                #end
                #if($!filterRuleDetail.ruleKey=="opus_local")
                    $("#textarea_mission_condition_3").val("$filterRuleDetail.ruleValue");
                #end
                #if($!filterRuleDetail.ruleKey=="release_works")
                    $("#textarea_mission_condition_11").val("$filterRuleDetail.ruleValue");
                #end

            #end
            #if($filterRuleVO.isAuto==true)

                $('input:radio[name="radio_award_way"]').each(function () {
                    if ($(this).val() == 1) {
                        $(this).attr("checked", true);
                    }
                })
            #end
            #if($filterRuleVO.isAuto==false)

                $('input:radio[name="radio_award_way"]').each(function () {
                    if ($(this).val() == 0) {
                        $(this).attr("checked", true);
                    }
                })
            #end
            #if($share.icon!="")
                $("#icon_show").attr("src", "$share.icon");
                $("#icon_show").css("display", "block");
                $(".button_cancel").css("display", "block");
                $(".button_add").css("display", "none");
            #end
            #if($appType)
                $("#app_type").val("$appType");
            #end
            var TM_KEY = 'thread.metadata';
            var content = "";
            #if($content)
                content = "$content";
            #end
            var threadMeta = {
                quan: null,
                title: null,
                content: content
            }

            window.localStorage.setItem(TM_KEY, JSON.stringify(threadMeta));
            var threadMeta = window.localStorage.getItem(TM_KEY, JSON.stringify(threadMeta));
            threadMeta = JSON.parse(threadMeta);
            $('select[name=quan_id]').val(threadMeta.quan);
            $('input[name=title]').val(threadMeta.title);
            window.editor.editor.setContent(threadMeta.content);
            $(".view").css("font-size","14px");
        });

        function closeIframe() {
            $("#YuFrame2").remove();
            $("#YuFrame2Bg").remove();
            $(".exam-nav").show();
        }
        function closeIframeChannel() {
            $("#YuFrame3").remove();
            $("#YuFrame3Bg").remove();
            $(".exam-nav").show();
        }
        function loadFilterDetailStructure() {
            var formId = $("#textarea_mission_filter_id").val();
            var formObj;
            if (formId != -1 && formId != "") {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    async: false,
                    data: {
                        id: formId
                    },
                    url: "/mission/filter/detail",
                    success: function (result) {
                        if (result.success) {
                            formObj = result.data;
                        } else {
                            alert(result.error);
                        }
                    }
                });
            }
            return formObj;
        }
        $(function () {
            missionExam.init();
//            $("select").dcselect();
        });
    </script>
    <script type="text/javascript">
        var flag = -1;
        var rflag = -1;
        var listMissionChannel;
        $.ajax({
            type: "GET",
            url: "/mission/listMissionChannel",
            data: {},
            dataType: "json",
            success: function (result) {
                listMissionChannel = result.data;
                $.each(listMissionChannel, function (i, item) {
                    $("#mission_channel").append('<tr > <td width="10%">  <td> <input value="' + item.id + '" name="checkbox_mission_channel" type=checkbox> </td></td> <td id="td_' + item.id + '"> ' + item.channelName + '</td> </tr >')
                });
                $.each(listMissionChannel, function (i, item) {
                    $("#mission_recommend_channel").append('<tr > <td width="10%">  <td> <input value="' + item.id + '" name="radio_mission_channel" type=radio class="radio"> </td></td> <td id="td_' + item.id + '"> ' + item.channelName + '</td> </tr >')
                });
                #if($channelList)
                    $("input[name='checkbox_mission_channel']").each(function () {
                        #foreach($channel in $channelList)
                            if ($(this).val() ==$channel) {
                                $(this).attr("checked", true)
                            }
                        #end
                    });
                #end
                #if($recommendChannelId)
                    $("input[name='radio_mission_channel']").each(function () {

                            if ($(this).val() ==$recommendChannelId) {
                                $(this).attr("checked", true)
                            }

                    });
              #end
            }
        })






        $("#box0").on("click", function () {
            if (flag == -1) {
                flag = 0;
            }
            if (flag == 0) {

                $("#items").css("display", "block")
                flag = 1;
                $("#box0").html("渠道选择&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src=\"/admin/form/skin/image/icon/arrow.png\" class=\"img_arro\">");
            }
            else {
                flag = 0;
                $("#items").css("display", "none")

                $("#box0").html("渠道选择&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src=\"/admin/form/skin/image/icon/arrow.png\" class=\"img_arro\">");

            }
        })
        $("#rbox0").on("click", function () {
            if (rflag == -1) {
                rflag = 0;
            }
            if (rflag == 0) {

                $("#ritems").css("display", "block")
                rflag = 1;
                $("#rbox0").html("渠道选择&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src=\"/admin/form/skin/image/icon/arrow.png\" class=\"img_arro\">");
                $("#box0").html("渠道选择&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src=\"/admin/form/skin/image/icon/arrow.png\" class=\"img_arro\">");

            }
            else {
                rflag = 0;
                $("#ritems").css("display", "none")

                $("#rbox0").html("渠道选择&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src=\"/admin/form/skin/image/icon/arrow.png\" class=\"img_arro\">");
                $("#box0").html("渠道选择&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src=\"/admin/form/skin/image/icon/arrow.png\" class=\"img_arro\">");
            }
        })

        $("#mainbox").onclick = function () {
            if (flag != 0) {
                flag = 0;
                $("#items").style.display = "none";

                $("#box0").html("渠道选择&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src=\"/admin/form/skin/image/icon/arrow.png\" class=\"img_arro\">");
            }
        }
        $("#rmainbox").onclick = function () {
            if (rflag != 0) {
                rflag = 0;
                $("#ritems").style.display = "none";

                $("#rbox0").html("渠道选择&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src=\"/admin/form/skin/image/icon/arrow.png\" class=\"img_arro\">");
            }
        }
        /*
         * 以下是用于当鼠标离开列表时，列表消失
        $("#mission_channel").mouseleave(function(){
                flag=0;
            $("#items").css("display","none");
            $("#box0").html("渠道选择");
            //getCheckedValues();
        })*/


        //提交页面操作
        $("#saveStep2").on("click", function () {
            var reg = new RegExp("^[0-9]*$");
            var id = $("#mission_id").val();
            var missionType = "$missionType";
            var conditionMapList;
            var shareMap
            //拉新任务的规则处理
            if(missionType == "NEWER"){
                var missionCondition1 = $("#textarea_mission_condition_1").val();
                var missionCondition2 = $("#textarea_mission_condition_2").val();
                var missionCondition3 = $("#textarea_mission_condition_3").val();
                if(missionCondition1!=""&&!reg.test(missionCondition1)){
                    alertMessage("请输入规定的数字!");
                    return;
                }
                if(missionCondition2!=""&&!reg.test(missionCondition2)){
                    alertMessage("请输入规定的数字!");
                    return;
                }
                if(missionCondition3!=""&&!reg.test(missionCondition3)){
                    alertMessage("请输入规定的数字!");
                    return;
                }
                conditionMapList = [{'missionConditionEnum':'LOGIN','operationEnum':'GE','number':missionCondition1},
                    {'missionConditionEnum':'OPUS_TIMELINE','operationEnum':'GE','number':missionCondition2},
                    {'missionConditionEnum':'OPUS_LOCAL','operationEnum':'GE','number':missionCondition3}];

                var title = $("#textarea_share_title").val();
                var desc = $("#textarea_share_desc").val();
                var icon = $('#icon_show').attr('src');
                shareMap = {
                    'title': title,
                    'desc': desc,
                    'icon': icon,
                };

            }
            //互动任务的规则处理
            if(missionType == "EXPAND"){
                var missionCondition11 = $("#textarea_mission_condition_11").val();
                if(missionCondition11!=""&&!reg.test(missionCondition11)){
                    alertMessage("请输入规定的数字!");
                    return;
                }
                conditionMapList = [{'missionConditionEnum':'RELEASE_WORKS','operationEnum':'GE','number':missionCondition11}];

                var template =  $("#textarea_share_template").val();
                shareMap = {
                    "template" : template,
                };

            }
            //广告任务的规则处理
            if(missionType == "VIDEO"){

                var link =  $("#textarea_share_link").val();
                shareMap = {
                    "link" : link,
                };

            }
            var condition = JSON.stringify(conditionMapList);
            var share = JSON.stringify(shareMap);

            var appType = $("#app_type").val();
            var recommendChannelId = $("input[name='radio_mission_channel']:checked").val();

            //推荐渠道选择规范判断
            if(recommendChannelId!=undefined) {
                var judge = 1;
                $("input[name='checkbox_mission_channel']:checked").each(function () {
                    if (recommendChannelId == this.value) {
                        judge = 2;
                    }
                });
                if (judge == 1) {
                    alertMessage("推荐渠道应该在任务渠道中选择一个!");
                    //$("input[name='radio_mission_channel']:checked").attr("checked", false);
                    return;
                }
            }



            var missionAwardAuto = $('input:radio[name="radio_award_way"]:checked').val();

            var missionChannelDesc = "";
            var content = window.editor.editor.getContent();
            var missionChannel = "";
            $("input[name='checkbox_mission_channel']:checked").each(function () {
                missionChannel = missionChannel + "," + this.value;
                missionChannelDesc = missionChannelDesc + "," + $("#td_" + this.value + "").html();
            });
            missionChannelDesc = missionChannelDesc.substring(1);



            var missionType ='$missionType';

            $.ajax({
                type: 'POST',
                url: 'missionDefineCreateStep2',
                data: {
                    "id": id,
                    "content": content,
                    "missionAwardAuto": missionAwardAuto,
                    "missionChannel": missionChannel,
                    "recommendChannelId": recommendChannelId,
                    "missionChannelDesc": missionChannelDesc,
                    "share": share,
                    "condition": condition,
                    "missionType":'$missionType',
                    "appType": appType
                },
                success: function (data) {
                    if (data.success == true&&missionType=="NEWER") {
                        window.location.href = 'step3?id=' + data.data;
                    }else if(data.success == true){
                        window.location.href = '/mission/missionMainIndex';
                    }
                },
            });
        })

        //上一步操作，保存处理
        $("#removeStep1").on("click", function () {
            var reg = new RegExp("^[0-9]*$");
            var id = $("#mission_id").val();
            var missionCondition1 = $("#textarea_mission_condition_1").val();
            var missionCondition2 = $("#textarea_mission_condition_2").val();
            var missionCondition3 = $("#textarea_mission_condition_3").val();
            var recommendChannelId = $("input[name='radio_mission_channel']:checked").val();
            var appType = $("#app_type").val();
            if(recommendChannelId!=undefined) {
                var judge = 1;
                $("input[name='checkbox_mission_channel']:checked").each(function () {
                    if (recommendChannelId == this.value) {
                        judge = 2;
                    }
                });
                if (judge == 1) {
                    alertMessage("推荐渠道应该在任务渠道中选择一个!");
                    //$("input[name='radio_mission_channel']:checked").attr("checked", false);
                    return;
                }
            }
            var missionType ='$missionType';
            var conditionMapList;
            var shareMap
            //拉新任务的规则处理
            if(missionType == "NEWER"){
                var missionCondition1 = $("#textarea_mission_condition_1").val();
                var missionCondition2 = $("#textarea_mission_condition_2").val();
                var missionCondition3 = $("#textarea_mission_condition_3").val();
                if(missionCondition1!=""&&!reg.test(missionCondition1)){
                    alertMessage("请输入规定的数字!");
                    return;
                }
                if(missionCondition2!=""&&!reg.test(missionCondition2)){
                    alertMessage("请输入规定的数字!");
                    return;
                }
                if(missionCondition3!=""&&!reg.test(missionCondition3)){
                    alertMessage("请输入规定的数字!");
                    return;
                }
                conditionMapList = [{'missionConditionEnum':'LOGIN','operationEnum':'GE','number':missionCondition1},
                    {'missionConditionEnum':'OPUS_TIMELINE','operationEnum':'GE','number':missionCondition2},
                    {'missionConditionEnum':'OPUS_LOCAL','operationEnum':'GE','number':missionCondition3}];

                var title = $("#textarea_share_title").val();
                var desc = $("#textarea_share_desc").val();
                var icon = $('#icon_show').attr('src');
                shareMap = {
                    'title': title,
                    'desc': desc,
                    'icon': icon,
                };

            }
            //互动任务的规则处理
            if(missionType == "EXPAND"){
                var missionCondition11 = $("#textarea_mission_condition_11").val();
                if(missionCondition11!=""&&!reg.test(missionCondition11)){
                    alertMessage("请输入规定的数字!");
                    return;
                }
                conditionMapList = [{'missionConditionEnum':'RELEASE_WORKS','operationEnum':'GE','number':missionCondition11}];

                var template =  $("#textarea_share_template").val();
                shareMap = {
                    "template" : template,
                };

            }
            //广告任务的规则处理
            if(missionType == "VIDEO"){

                var link =  $("#textarea_share_link").val();
                shareMap = {
                    "link" : link,
                };

            }
            var condition = JSON.stringify(conditionMapList);
            var share = JSON.stringify(shareMap);
            var missionAwardAuto = $('input:radio[name="radio_award_way"]:checked').val();

            var missionChannelDesc = "";
            var content = window.editor.editor.getContent();
            var missionChannel = "";
            $("input[name='checkbox_mission_channel']:checked").each(function () {
                missionChannel = missionChannel + "," + this.value;
                missionChannelDesc = missionChannelDesc + "," + $("#td_" + this.value + "").html();
            });
            missionChannelDesc = missionChannelDesc.substring(1);


            $.ajax({
                type: 'POST',
                url: 'missionDefineCreateStep2',
                data: {
                    "id": id,
                    "content": content,
                    "missionAwardAuto": missionAwardAuto,
                    "missionChannel": missionChannel,
                    "recommendChannelId": recommendChannelId,
                    "missionChannelDesc": missionChannelDesc,
                    "share": share,
                    "condition": condition,
                    "missionType":'$missionType',
                    "appType": appType
                },
                success: function (data) {
                    if (data.success == true) {
                        window.location.href = 'step1?id=' + data.data;
                    }
                },
            });
        })
        $(".button_add").on("click", function () {
            $("#file").click();
        })
        function alertMessage(message) {
            jQuery.notify(message, "info");
        }

    </script>
