<html>
<head>
    <link href="$formLink/admin/media/css/bosco/list.css"
          rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <title>任务工作台</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="robots" content="noindex,nofollow">
    <script src="$formLink/admin/form/script/jquery.min.js"></script>
    <script type="text/javascript" src="$formLink/admin/form/script/configBase.js"></script>
    <script src="${formLink}/admin/static/js/sea-modules/seajs/2.2.1/sea.js"></script>
    <script src="${formLink}/admin/static/js/app/seajs/config-seajs.js"></script>
    <script src="${formLink}/admin/media/js/bootstrap.min.js"></script>

</head>
<!-- CSS -->
<style>
    .ui-widget-header,.ui-state-default, ui-button {
        background:#b9cd6d;
        border: 1px solid #b9cd6d;
        color: #FFFFFF;
        font-weight: bold;
    }
    .ui-widget-overlay.custom-overlay
    {
        background-color: black;
        background-image: none;
        opacity: 0.9;
        z-index: 1040;
    }
</style>
<body>

<div class="pagebox" id="pageContentId">
    <div class="home-desktop" id="desktop_scroll">
        <div style="width:1000px; position: relative;">
            <div class="create-questions-content">
                <div class="exam-nav">
                </div>
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            通道列表
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-condensed table-hover" id="tableId">
                            <thead>
                            <tr>
                                <th>通道编号</th>
                                <th>通道名称</th>
                                <th>应用名称</th>
                                <th>应用标识</th>
                            </tr>
                            </thead>
                            <tbody>
                                #foreach($basicVO in $basicVOList)
                                <tr class="u_$!basicVO.id">
                                    <td>$!basicVO.id</td>
                                    <td>$!basicVO.channelName</td>
                                    <td>$!basicVO.appName</td>
                                    <td>$!basicVO.appToken</td>
                                    <td>
                                        <div class="btn-group">
                                            <input type="checkbox" class="btn mini purple selChannel" data-uid="$!basicVO.id" style="margin-left: 3px;" />选择
                                        </div>
                                    </td>
                                </tr>
                                #end
                            </tbody>
                        </table>
                    </div>
                    #if ($totalCount > 0)
                        <div class="pages" style="padding:3px">
                            #set($cpage = $pageUtil.pager($curPage, $pageSize, $totalCount))
				        #set($url = $formLink.setTarget('/mission/missionChannel').addQueryData('nothing', "nothing").fork())
				   		#showPage($cpage $url)
                        </div>
                    #end
                </div>
            </div>
            <div style="height:40px; margin: 20px 0; text-align: right;">
                <button id="refreshForm" type="button" class="cotrlBtn exam-refresh-btn btnBlue" value="" style="height:40px;width: 140px; font-size:18px;" onclick="window.location.reload()">刷新</button>
                <button id="saveForm" type="button" class="cotrlBtn exam-save-btn btnBlue"  style="height:40px;width: 100px; font-size:18px;">确定</button>
                <button id="closeFormPage" type="button" class="cotrlBtn exam-close-btn btnBlue" style="height:40px;width: 100px; font-size:18px;">关闭</button>
            </div>
            </div>
    </div>
</div>



<script type="text/javascript">

        seajs.use("$formLink/admin/static/app/mission/missionChannel", function (main) {
            main.init();
        });


        $(function () {
//            missionExam.init();
//            $("select").dcselect();
        });
    </script>

</body>

</html>
