<link href="$formLink/admin/media/js/skins/default/laydate.css" rel="stylesheet" media="screen" type="text/css">
<link href="${formLink}/admin/media/upload/css/jquery.fileupload.css" rel="stylesheet">
<link href="${formLink}/admin/media/upload/css/jquery.fileupload-ui.css" rel="stylesheet">
<link href="${formLink}/admin/media/css/mission.css" rel="stylesheet" type="text/css">

<link href="${formLink}/admin/media/css/bootstrap/bootstrap.min.css" rel="stylesheet" >
<script src="${formLink}/admin/media/js/bootstrap-select.js"></script>


<script src="${formLink}/admin/media/js/bootstrap/bootstrap.min.js"></script>
<link href="${formLink}/admin/media/css/jquery-labelauty.css" rel="stylesheet" >

<script src="${formLink}/admin/media/js/jquery-1.8.3.min.js"></script>
<script src="${formLink}/admin/media/js/jquery-labelauty.js"></script>
<style>
    .change_color{
        width: 300px;
        height: 200px;
        overflow: hidden;
        border-radius: 10px;
        transform: rotate(0deg);
        -webkit-transform:rotate(0deg);
        -moz-border-radius:20px;
        -webkit-border-radius:20px;
        border-radius:20px;
    }
    .change_color img{
        height: 100%;
        transition: 500ms;
    }
    .change_color:hover img{
        transform: scale(1.2);
    }
</style>
<div class="page-content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">添加任务</h3>
            </div>
        </div>

        <div style="width: 1200px;text-align: left;float:left;">
            <div class="div_frame">
                <div>
                    <h4>请选择任务类型：</h4>
                </div>
                <div >
                    <div id="div1" class="change_color search-btn" data-type="NEWER" style="width:180px;height:40px;background:white;margin:10px;float: left;border: 1px solid white;"><h4 style="text-align: center;user-select:none;">拉新任务</h4></div>
                    <div id="div2" class="change_color search-btn" data-type="EXPAND" style="width:180px;height:40px;background:white;margin:10px;float: left;border: 1px solid white;"><h4 style="text-align: center;user-select:none;">互动任务</h4></div>
                    <div id="div3" class="change_color search-btn" data-type="VIDEO" style="width:180px;height:40px;background:white;margin:10px;float: left;border: 1px solid white;"><h4 style="text-align: center;user-select:none;">广告任务</h4></div>

                </div>
                <div style="height:40px;width:auto;clear: both ;text-align: center ;margin-top: 120px">
                    <a href="missionMainIndex" id="closeFormPage" class="btn gray search-btn" style="width: 80px;height: 35px">取消</a>
                    <a href="#" id="nextStep" class="btn green search-btn"
                       style="width: 80px;height: 35px;margin-left: 40px">下一步</a>
                </div>
            </div>



            </div>

            <script type="text/javascript">
                window.onload = function(){
                    var divs = $(".change_color");
                    var len = divs.length;
                    for(var i=0;i<len;i++){
                        divs[i].onclick = function(){
                            for(var j=0;j<len;j++){
                                divs[j].style.border = "white";

                            }
                            $(this).css("border"," 1px solid red");
                        };
                    }
                };

                $("#nextStep").on("click",function () {
                    var missionType;
                    $(".change_color").each(function () {

                        if($(this).css("border")=="1px solid rgb(255, 0, 0)") {

                            missionType = $(this).data("type");
                        }
                    })
                    window.location.href = "step1?missionType="+missionType;
                })


            </script>









