<link href="$formLink/admin/media/css/bosco/list.css"
      rel="stylesheet" type="text/css">
<link href="$formLink/admin/media/css/jquery.mCustomScrollbar.css"
      rel="stylesheet" type="text/css">
<link href="$formLink/admin/media/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
<script src="${formLink}/admin/media/js/bootstrap-select.js"></script>

<script type="text/javascript" src="$formLink/admin/form/script/exam/missionexam.js?v=1"></script>
<link rel="stylesheet" href="${formLink}/admin/media/upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="${formLink}/admin/media/upload/css/jquery.fileupload-ui.css">

<script src="${formLink}/admin/media/js/bootstrap-select.js"></script>
<script src="${formLink}/admin/media/js/moment.js"></script>

<script src="${formLink}/admin/media/js/jquery-1.8.3.min.js"></script>
<script src="${formLink}/admin/media/js/jquery.fileupload.js"></script>
<script src="${formLink}/admin/media/upload/js/vendor/jquery.ui.widget.js"></script>
<link href="$formLink/admin/media/css/bosco/list.css"
      rel="stylesheet" type="text/css">
<link href="$formLink/admin/media/css/jquery.mCustomScrollbar.css"
      rel="stylesheet" type="text/css">

<link href="$formLink/admin/media/js/need/laydate.css" rel="stylesheet" media="screen" type="text/css">
<link href="$formLink/admin/media/js/skins/default/laydate.css" rel="stylesheet" media="screen" type="text/css">
<script src="${formLink}/admin/media/js/laydate.js"></script>
<style type="text/css">
    .u-tips {
        display: none;
        position: fixed;
        height: auto;
        z-index: 99999;
        left: 50%;
        top: 50%;
        width: 236px;
        margin-left: -118px;
        padding: 8px;
        line-height: 24px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .6);
        text-align: center;
        font-size: 20px;
        color: #fff;
        font-size: 1.4rem;
    }

    .div_frame, .div_frame_2 {
        margin-left: 20px;
        margin-bottom: 15px;
        float: left;
    }

    .div_frame_2 {
        width: 900px;
    }

    .div_frame_1 {
        float: left;
        width: 100px;
        margin-left: 22px;
    }

    /*a  upload */
    .a-upload {
        padding: 4px 10px;
        height: 20px;
        line-height: 20px;
        position: relative;
        cursor: pointer;
        color: #888;
        background: #fafafa;
        border: 1px solid #ddd;
        border-radius: 4px;
        overflow: hidden;
        display: inline-block;
        *display: inline;
        *zoom: 1
    }

    .a-upload input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: pointer
    }

    .a-upload:hover {
        color: #444;
        background: #eee;
        border-color: #ccc;
        text-decoration: none
    }

    .mission_hall_cover_image{
        width:330px;
        position: absolute;
        margin-left: 680px;
        top:132px;
    }
    .mission_hall_example_image{
        width:330px;
        position: absolute;
        margin-left: 680px;
        top:450px;
    }
    .score_desc{
        color: grey;

        position: absolute;
        margin-top: 42px;
        margin-left: -230px;
    }
    .cash_desc{
        color: grey;

        position: absolute;
        margin-top: 42px;
        margin-left: -230px;
    }
</style>

<div class="page-content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">任务添加</h3>
                <span>$!message</span>
            </div>
        </div>
        <div style="margin-top: 0;margin-left:0;width: 570px;clear: both;height: 20px">
            <ul style="list-style-type:none;">
                <li style="border: solid 1px #666666;float:left;background-color:#666666;text-align: center;width:150px">

                        <span style="color: white ">
                               1.填写基本任务信息
                </span>
                </li>
                <li style="border: solid 1px #BBBBBB;float:left;width:150px;background-color:white;text-align: center">
                <span>2.完善任务详情</span>
                </li>
                <li style="border: solid 1px #BBBBBB;;background-color:white;width:150px;text-align: center;float:left">
                <span>
                                     3.配置H5页面
                            </span>
                </li>
            </ul>
        </div>
        <div class="span12 list-action-top-area">
        </div>








    #*阿斯打扫的dad *#


        <!--任务信息-->
        <div style="width: 1200px;text-align: left;float:left;">

            <!--任务类型-->
            <div class="div_frame" style="display: none">
                <div ReadOnly="true" class="div_frame_1" >任务类型：</div>
                <div class="div_frame_2" style="margin-left: 25px">
                   #* <select id="textarea_mission_type" class="selectpicker" data-live-search="true"
                                                 data-style="btn-info" data-width="auto" onchange="changeDesc()">
                    </select>*#
                       <input id="textarea_mission_type" value="$!missionType"/>
                    <span id="textarea_mission_type_desc" style="color: grey;margin-left: 3px;"></span>
                </div>
            </div>
            <div class="div_frame">
                <div ReadOnly="true" class="div_frame_1">封面图片：</div>
                <div class="div_frame_2" style="margin-left: 25px" >
                    <img id="cover_show" style="height:180px;margin-top:10px;margin-bottom:8px;display: block" src="">
                    <a href="javascript:;" class="a-upload">
                        <input type="file" name="file" id="file" value="123" accept="image/gif, image/jpeg,image/png" >上传</a>  <span id="" style="position:relative;top:-10px;color: grey;margin-left: 3px;">建议尺寸：宽（1024）X 高（520）；最佳显示区域：宽（1024）X 高（374）；大小<500K</span>
                    <div class="mission_hall_cover_image">任务大厅首页示例：<img width="75%" height="75%" src="/admin/media/image/mission_hall_example.png" style="margin-top: 5px"></div>
                    <div class="mission_hall_example_image">任务大厅详情示例：<img width="75%" height="75%" src="/admin/media/image/mission_hall_desc_example.png" style="margin-top: 5px"></div>
                </div>
            </div>


            <div class="div_frame">
                <div ReadOnly="true" class="div_frame_1">任务名称：</div>


                <div class="div_frame_2">
                    <input type="text" id="textarea_mission_name"
                                                class="input-top" maxlength="14" style="border:1px solid;border-color:rgba(82,168,236,.8);width: 200px;height: 30px;margin-left: 5px;"/>
                    <span id="mission_name_rule" style="color: grey;margin-left: 3px;">最多可输入14个字符</span>
                </div>
            </div>


            <!--任务时间-->

            <div class="div_frame">
                <div class="div_frame_1">任务起止时间：</div>
                <div class="div_frame_2">
                    <input type="text" id="textarea_mission_begin_time" class="m-wrap small laydate-icon" style="border:1px solid;border-color:rgba(82,168,236,.8);margin-left: 5px;background-color: white"/>
                    #*<input type="text" class="" name="createTimeBeginSearch" id="createTimeBeginSearch" value="$!createTimeBeginSearch" >*#
                    <span class="help-inline">至</span>
                    <input type="text" id="textarea_mission_end_time" class="m-wrap small laydate-icon " style="border:1px solid;border-color:rgba(82,168,236,.8);margin-left: 5px;background-color: white"/>
                </div>
            </div>



            <!--奖励类型-->
            <div ReadOnly="true" class="div_frame">
                <div class="div_frame_1">奖励类型：</div>
                <div class="div_frame_2" style="margin-left: 25px">
                    <select id="textarea_mission_award" class="selectpicker" data-live-search="true"
                            data-style="btn-info" data-width="auto">

                    </select>
                </div>
            </div>
            <div id="div_mission_award" class="div_frame" ReadOnly="true">
                <div class="div_frame_1">奖励数额：</div>
                <div class="div_frame_2">
                    <span id="span_mission_award_score">
                                <input type="text" id="textarea_mission_award_score" class="input-top" style="border:1px solid;border-color:rgba(82,168,236,.8);width: 200px;height: 30px;margin-left: 5px"/>分
                    </span>
                    <span id="span_mission_award_cash">
                    <input type="text" id="textarea_mission_award_cash" class="input-top"
                          style="border:1px solid;border-color:rgba(82,168,236,.8);width: 200px;height: 30px;margin-left: 5px;display: none"/>
                    </span>
                </div>
            </div>

            <!--奖励数量-->
            <div ReadOnly="true" class="div_frame">
                <div class="div_frame_1">任务奖励数量：</div>
                <div class="div_frame_2">
                    <input type="text" id="textarea_mission_total_snapshot" class="input-top" style="border:1px solid;border-color:rgba(82,168,236,.8);width: 80px;height: 30px;margin-left: 5px" onchange="awardTotalJudge()"/>
                </div>
            </div>
        </div>
    </div>

    <div style="height:40px;width:auto;clear: both ;text-align: center ;margin-bottom: 30px">
        <a href="#" id="closeFormPage" class="btn gray search-btn" style="width: 80px;height: 23px">取消</a>
        <a href="#" id="saveStep1"   class="btn green search-btn" style="width: 80px;height: 23px;margin-left: 40px">下一步</a>
    </div>

</div>


<script type="text/html" id="drag_T_edit">
    <div class="cq-into-edit">
        <div class="add-edit cq-edit-title" contenteditable="true">{{title}}</div>
    </div>
</script>
<script type="text/html" id="T_edit_plugins">
    <div class="edit-plug-box">
        <a href="javascript:void(0);"><i class="icon-picChoice"></i></a>
        <a href="javascript:void(0);"><i class="icon-title"></i></a>
    </div>
</script>
<script type="text/html" id="ui_additem_content">
    {{each items as itemData i}}
    <li>
        <label class="input-check"><input type="{{if type==1}}radio{{else if type==2}}checkbox{{/if}}"
                                          name="{{name}}" value="{{itemData.value}}"></label>
        <div class="cq-answer-content T_edit T_plugins" data-Tid="{{itemData.tid}}">选项{{i+1+index}}</div>
    </li>
    {{/each}}
</script>
<script type="text/javascript">

    seajs.use("$formLink/admin/static/app/mission/missionbuilder", function (main) {
        main.init();
        #if($missionVO){
            $("#textarea_mission_type option").each(function () {
                if($(this).val()=="$missionVO.missionType"){
                    $(this).attr("selected",true);
                }

            });

            $("#cover_show").attr("src","$missionVO.pic");
            $("#cover_show").css("display","block");
            $("#textarea_mission_name").val("$missionVO.missionName");
            $("#textarea_mission_begin_time").val("$beginTime");
            $("#textarea_mission_end_time").val("$endTime");
        }
        #end

        setTimeout(award,300);

        #if(!$missionVO.pic)
            $("#cover_show").attr("src","http://duty.oss-cn-shenzhen.aliyuncs.com/a8684dbc-db2b-40aa-ad5c-3cd218c6b340cover_example.png");
        #end


        $("#textarea_mission_total_snapshot").val("$!missionVO.totalSnapshot")
    });

    <!--奖励赋值-->
    function award() {
        var score=null;
        var cash=null;

        #foreach($award in $!awardMap.keySet())
            #if($award=="SCORE"&& $!awardMap.get($award))
                 score = $!awardMap.get($award);

            #end
            #if($award=="CASH"&& $!awardMap.get($award))
                cash = $!awardMap.get($award);

            #end
        #end
        if(score!=null&&cash!=null){
            $("#span_mission_award_cash").empty();
            $("#span_mission_award_score").empty();
            $("#span_mission_award_score").append("<input type='text' id='textarea_mission_award_score' class='input-top'style='border:1px solid;border-color:rgba(82,168,236,.8);width: 200px;height: 30px;margin-left: 5px'/> 分<span class=\"score_desc\">（请输入0-100,000之间的整数）</span> ");

            $("#span_mission_award_cash").append("<input type='text' id='textarea_mission_award_cash' class='input-top'style='border:1px solid;border-color:rgba(82,168,236,.8);width: 200px;height: 30px;margin-left: 5px'/> 元 <span class='cash_desc'>（请输入不小于1的整数）</span>");
            $("#textarea_mission_award_cash").val(cash);
            $("#textarea_mission_award_score").val(score);
            $("#textarea_mission_award option").each(function () {

            if($(this).val()=="BOTH"){
                $(this).attr("selected",true);
                $('.selectpicker').selectpicker("refresh")
            }

        })
        }else if(cash!=null){
            $("#span_mission_award_score").empty();
            $("#span_mission_award_cash").empty();
            $("#span_mission_award_cash").append("<input type='text' id='textarea_mission_award_cash' class='input-top'style='border:1px solid;border-color:rgba(82,168,236,.8);width: 200px;height: 30px;margin-left: 5px'/> 元 ").append("<span class='cash_desc' >（请输入不小于1的整数）</span>");
            $("#textarea_mission_award_cash").val(cash);
            $("#textarea_mission_award option").each(function () {

            if($(this).val()=="CASH"){
                $(this).attr("selected",true);
                $('.selectpicker').selectpicker("refresh")
            }


        })
        }else {
            $("#span_mission_award_cash").empty();
            $("#span_mission_award_score").empty();
            $("#span_mission_award_score").append("<input type='text' id='textarea_mission_award_score' class='input-top'style='border:1px solid;border-color:rgba(82,168,236,.8);width: 200px;height: 30px;margin-left: 5px'/> 分<span class='score_desc'>（请输入0-100,000之间的整数）</span> ");
            $("#textarea_mission_award_score").val(score);
            $("#textarea_mission_award option").each(function () {

            if ($(this).val() == "SCORE") {
                $(this).attr("selected", true);
                $('.selectpicker').selectpicker("refresh")


            }
            })




    }
}
    function closeIframe() {
        $("#YuFrame2").remove();
        $("#YuFrame2Bg").remove();
        $(".exam-nav").show();
    }
    function closeIframeChannel() {
        $("#YuFrame3").remove();
        $("#YuFrame3Bg").remove();
        $(".exam-nav").show();
    }
    function loadFilterDetailStructure() {
        var formId = $("#textarea_mission_filter_id").val();
        var formObj;
        if (formId != -1 && formId != "") {
            $.ajax({
                type: "POST",
                dataType: "json",
                async: false,
                data: {
                    id: formId
                },
                url: "/mission/filter/detail",
                success: function (result) {
                    if (result.success) {
                        formObj = result.data;

                    } else {
                        alert(result.error);
                    }

                }
            });
        }
        return formObj;
    }

    $(function () {
        missionExam.init();
//            $("select").dcselect();
    });

    $('#file').on('change', function () {
        if (!this.value || this.value.indexOf('.jpg') == -1) {
            return false;
        }
    });

    //初始化上传插件
    $('#file').fileupload({
        autoUpload: true, //这里为true，则选中文件后就会自动上传
        type: "POST",
        url: '${formLink}/pic/missionPic',
        sequentialUploads: true,

        fail: function (msg) {
            alertMessage("上传失败，请重新上传！");
        }
    }).bind('fileuploadprogress', function (e, data) {
        $("#cover_show").attr("src", "/admin/media/image/loading2.gif");
    }).bind('fileuploaddone', function (e, data) {
        if (!data.result.success) {
            //不成功则将文件设置成默认图片
            $("#cover_show").attr("src", "http://duty.oss-cn-shenzhen.aliyuncs.com/a8684dbc-db2b-40aa-ad5c-3cd218c6b340cover_example.png");
            alertErrorCall(data.result.code);
            return;
        }
        $("#cover_show").attr("src", data.result.data);


    });

    $("#closeFormPage").on("click",function(){
        window.location.href="/mission/missionMainIndex";
    })
    $("#saveStep1").on("click", function () {
        var missionType = $("#textarea_mission_type").val();
        var pic = $("#cover_show").attr("src");
        var missionName = $("#textarea_mission_name").val();
        var beginTime = $("#textarea_mission_begin_time").val();
        var endTime = $("#textarea_mission_end_time").val();
        var awardType = $("#textarea_mission_award").val();
        var score = $("#textarea_mission_award_score").val();
        var cash = $("#textarea_mission_award_cash").val();
        var totalSnapshot = $("#textarea_mission_total_snapshot").val();
        var reg = new RegExp("^[0-9]*$");


        var awardMap = {'score':score,'cash':cash};
        var award = JSON.stringify(awardMap);
        if(awardType=="SCORE"){

            if(!reg.test(score)||!reg.test(totalSnapshot)||score==""||totalSnapshot==""){

                alertMessage("请输入规定的数字!");
                throw SyntaxError();

            }
        }
       if(awardType=="CASH"){
              if(!reg.test(cash)||!reg.test(totalSnapshot)||cash==""||totalSnapshot==""){
                  alertMessage("请输入规定的数字!");
                  throw SyntaxError();
              }
          }
          if(awardType=="BOTH"){
              if(!reg.test(cash)||!reg.test(totalSnapshot)||!reg.test(score)||cash==""||score==""||totalSnapshot==""){
                  alertMessage("请输入规定的数字!");
                  throw SyntaxError();
              }
          }
          if(pic==""||pic==null||pic==undefined){
            alertMessage("请确定图片已经上传!");
            throw SyntaxError();
          }


       #if($id)
           var id = "$id";
           $.ajax({
               type: 'POST',
               url: 'missionDefineCreateStep1',
               data: {
                   "id": id,
                   "missionType": missionType,
                   "pic": pic,
                   "missionName": missionName,
                   "beginTime": beginTime,
                   "endTime": endTime,
                   "totalSnapshot": totalSnapshot,
                   "award": award,
               },
               success: function (data) {
                   if(data.success == true){
                       window.location.href = 'step2?id='+data.data;

                   }else{
                       alertGlobalErrorCall(data);
                   }

               },
           });

        #end
        #if(!$id)
            $.ajax({
                type: 'POST',
                url: 'missionDefineCreateStep1',
                data: {
                    "missionType": missionType,
                    "pic": pic,
                    "missionName": missionName,
                    "beginTime": beginTime,
                    "endTime": endTime,
                    "totalSnapshot": totalSnapshot,
                    "award": award,
            },
                success: function (data) {
                if(data.success == true){
                    window.location.href = 'step2?id='+data.data;
                }else{
                    alertGlobalErrorCall(data);
                }
            },
        });
        #end

    })


    function changeDesc() {
        var desc=$("#textarea_mission_type").find("option:selected").attr("desc");
        $("#textarea_mission_type_desc").html(desc);
    }
    function awardTotalJudge(){
        var str = $('#textarea_mission_total_snapshot').val();
        var strs=str.replace(/(^\s+)|(\s+$)/g, "");//去除前后的空格
        if (!strs.match(/^[0-9]*[1-9][0-9]*$/)){
            alertMessage("请按要求输入！");
            $('#textarea_mission_total_snapshot').val("")
            return;
        }

    }
    //提示函数
    function alertGlobalErrorCall(result) {
        var errorCode=result.code;
        var errorMap= $.getGlobalErrorMap();
        if(errorCode==224){
            $.noPrivilege(result.data)
            return;
        }
        if(errorCode==225){
            $.stackTrace(result)
            return;
        }

        if(errorMap[errorCode]!=null){
            $.notify(errorMap[errorCode],"warn");
        } else {
            $.notify("系统异常","warn");
        }
    }
    //提示函数
    function alertErrorCall(errorCode) {
        seajs.use("$formLink/admin/form/script/exam/error.js", function (main) {
            var errorMap= main.getErrorMap();
            if(errorMap[errorCode]!=null){
                $.notify(errorMap[errorCode],"warn");
            } else {
                $.notify("系统异常","warn");
            }
        });
    }
    //提示函数
    function alertMessage(message) {
        $.notify(message, "info");
    }


</script>
<script type="text/javascript">
    var start = {
        elem: '#textarea_mission_begin_time',
        format: 'YYYY-MM-DD hh:mm:ss',
        max: '2099-06-16 23:59:59', //最大日期
        istime: true,
        istoday: true,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var end = {
        elem: '#textarea_mission_end_time',
        format: 'YYYY-MM-DD hh:mm:ss',
        max: '2099-06-16 23:59:59',
        istime: true,
        istoday: false,
        choose: function(datas){
            start.max = datas; //结束日选好后，重置开始日的最大日期
        }
    };
    laydate(start);
    laydate(end);
</script>











