<head>
	<meta charset="utf-8">
	<title>美人信息业务中心</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="description">
	<meta content="" name="author">
	<meta name="robots" content="noindex,nofollow">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<!--后台核心CSS，每个页面都需要引入-->
	<link href="${formLink}/admin/media/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="${formLink}/admin/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
	<link href="${formLink}/admin/media/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="${formLink}/admin/media/css/style-metro.css" rel="stylesheet" type="text/css">
	<link href="${formLink}/admin/media/css/style.css" rel="stylesheet" type="text/css">
	<link href="${formLink}/admin/media/css/style-responsive.css" rel="stylesheet" type="text/css">
	<link href="${formLink}/admin/media/css/default.css" rel="stylesheet" type="text/css" id="style_color">
	<link href="${formLink}/admin/media/css/uniform.default.css" rel="stylesheet" type="text/css">
	<!--浏览器头部ico图标-->
	<link rel="shortcut icon"  type="image/x-icon"  href="${formLink}/admin/media/image/favico.ico">
	<link rel="stylesheet" href="${formLink}/admin/media/css/bootstrap-fileupload.css" >
	<link rel="stylesheet" type="text/css" href="${formLink}/admin/media/css/jquery.tagsinput.css">
	<link rel="stylesheet" type="text/css" href="${formLink}/admin/media/css/bootstrap-toggle-buttons.css">
	<link rel="stylesheet" type="text/css" href="${formLink}/admin/media/css/chosen.css">
	<link rel="stylesheet" type="text/css" href="${formLink}/admin/media/css/multi-select.css">
	<link rel="stylesheet" type="text/css" href="${formLink}/admin/media/css/datepicker.css">
	<link rel="stylesheet" type="text/css" href="${formLink}/admin/media/css/daterangepicker.css">
	<link rel="stylesheet" type="text/css" href="${formLink}/admin/media/css/datetimepicker.css">
	<link rel="stylesheet" type="text/css" href="${formLink}/admin/media/css/bootstrap-modal.css" >
	<link rel="stylesheet" type="text/css" href="${formLink}/admin/media/css/jquery.nestable.css">
	<link rel="stylesheet" type="text/css" href="${formLink}/admin/media/css/custom-common.css">
	<link rel="stylesheet" type="text/css" href="${formLink}/admin/media/css/select2_metro.css">
	<!--后台核心js，每个页面都需要引入-->
	<script src="${formLink}/admin/media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	<script src="$formLink/admin/form/script/jquery.min.js"></script>
	<script src="${formLink}/admin/static/js/sea-modules/seajs/2.2.1/sea.js"></script>
	<script src="${formLink}/admin/static/js/app/seajs/config-seajs.js"></script>
	<script src="${formLink}/admin/media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
	<script src="${formLink}/admin/media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
	<script src="${formLink}/admin/media/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="${formLink}/admin/media/js/jquery.uniform.min.js" type="text/javascript"></script>

	<!--[if lt IE 9]>
	<script src="${formLink}/admin/media/js/excanvas.min.js"></script>
	<script src="${formLink}/admin/media/js/respond.min.js"></script>
	<![endif]--> 
	
 	<script src="${formLink}/admin/media/js/chosen.jquery.min.js" type="text/javascript"></script>
	<script src="${formLink}/admin/media/js/ui-nestable.js"></script>
	<script src="${formLink}/admin/media/js/app.js"></script>
	<script src="${formLink}/admin/media/js/form-components.js"></script>
    <script src="${formLink}/admin/media/js/notify.min.js"></script>
    <script src="${formLink}/admin/form/script/exam/globalError.js"></script>
</head>
