<div class="page-sidebar nav-collapse collapse">
    <!--侧边栏菜单开始-->
    <ul class="page-sidebar-menu">
        <li>
            <div class="sidebar-toggler hidden-phone"></div>
        </li>

        <li class="start_c active">

            <a href="javascript:;"> <i
                    class="icon-cogs"></i> <span class="title">动态表单</span> <span
                    class="selected"></span> <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <!-- 暂定方案，后期可以做路由分发转换，动态获取 -->
                <li class=""><a href="${formLink}/form/index" class="">表单管理</a></li>
                <li class=""><a href="${formLink}/answer/index" class="">答案管理</a></li>
                <li class=""><a href="${formLink}/regex/index" class="">正则管理</a></li>
            </ul>
        </li>
        <li class="start_c active">

            <a href="javascript:;"> <i
                    class="icon-cogs"></i> <span class="title">任务中心</span> <span
                    class="selected"></span> <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
##                <li class=""><a href="${formLink}/mission/missionIndex" class="">任务列表</a></li>
                <li class=""><a href="${formLink}/mission/filter/index" class="">任务规则</a></li>
                <li class=""><a href="${formLink}/mission/index" class="">任务定义</a></li>
                <li class=""><a href="${formLink}/mission/instance/index" class="">任务实例</a></li>
                <li class=""><a href="${formLink}/mission/channelIndex" class="">任务通道</a></li>
                <li class=""><a href="${formLink}/missionTrace/index" class="">任务流水</a></li>
            </ul>
        </li>
        
        <li class="start_c active">

            <a href="javascript:;"> <i
                    class="icon-cogs"></i> <span class="title">参数配置</span> <span
                    class="selected"></span> <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li class=""><a href="${formLink}/param/index" class="">参数列表</a></li>
            </ul>
        </li>
        
        <li class="start_c active">

            <a href="javascript:;"> <i
                    class="icon-cogs"></i> <span class="title">上传中心</span> <span
                    class="selected"></span> <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li class=""><a href="${formLink}/mission/upload" class="">文件上传</a></li>
            </ul>
        </li>
        <li class="start_c active">

            <a href="javascript:;"> <i
                    class="icon-cogs"></i> <span class="title">提现管理</span> <span
                    class="selected"></span> <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li class=""><a href="${formLink}/withdraw/index" class="">提现订单</a></li>
            </ul>
##            暂时取消资料审核
##            <ul class="sub-menu">
##                <li class=""><a href="${formLink}/approve/index" class="">资料审核</a></li>
##            </ul>
        </li>
        <li class="start_c active">
            <a href="javascript:;"> <i
                    class="icon-cogs"></i> <span class="title">权限管理</span> <span
                    class="selected"></span> <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li class=""><a href="${formLink}/user/index" class="">用户列表</a></li>
            </ul>
            <ul class="sub-menu">
                <li class=""><a href="${formLink}/user/privilege/index" class="">权限列表</a></li>
            </ul>
            <ul class="sub-menu">
                <li class=""><a href="${formLink}/user/role/index" class="">角色列表</a></li>
            </ul>
            <ul class="sub-menu">
                <li class=""><a href="${formLink}/user/group/index" class="">部门列表</a></li>
            </ul>
            <ul class="sub-menu">
                <li class=""><a href="${formLink}/user/process/index" class="">基础流程列表</a></li>
            </ul>
            <ul class="sub-menu">
                <li class=""><a href="${formLink}/user/hierarchy/index" class="">层级列表</a></li>
            </ul>
        </li>
        <li class="start_c active">
            <a href="javascript:;"> <i
                    class="icon-cogs"></i> <span class="title">审核管理</span> <span
                    class="selected"></span> <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li class=""><a href="${formLink}/acl/apply/index" class="">申请列表</a></li>
            </ul>
            <ul class="sub-menu">
                <li class=""><a href="${formLink}/acl/approval/index" class="">待审核列表</a></li>
            </ul>
            <ul class="sub-menu">
                <li class=""><a href="${formLink}/acl/index" class="">权限信息</a></li>
            </ul>
        </li>
        <!--侧边栏菜单结束-->
    </ul>
    <!--侧边栏菜单结束-->
</div>
