<style>
    .btn {
        border-radius: 6px !important;
        background-color: #1ab394;
        border-color: #1ab394;
        color: #fff;
    }
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<!--创建表单xxxx-->

<div class="page-content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">$title</h3>
                <span>$!message</span>
            </div>
        </div>
        <div class="row-fluid margin-bottom-20 content-area">
			<form id="form" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="name">商家：</label>
                    <div class="controls">
                        <input type="text" id="name" name="name" value="$!businessName" disabled="disabled" style="width: 480px !important;">
                    </div>
                </div>
				<div class="control-group">
					<label class="control-label" for="name">导入权限：</label>
					<div class="controls">
						<input type="text" id="role-select2" name="name"
							placeholder="导入权限" style="width: 480px !important;">
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="button" class="btn" id="close-form">返回</button>
						<button type="button" class="btn green submit" id="form-submit"
							data-uid="$id" data-bid="$!businessId">确定</button>
					</div>
				</div>
			</form>
		</div>
	</div>		
</div>

<input type="hidden" id="selectedBasicRegion"/>
<script src="${formLink}/admin/media/js/select2.min.js" type="text/javascript"></script>
<script src="${formLink}/admin/media/js/jquery.multi-select.js" type="text/javascript"></script>
<script>
    seajs.use(["$formLink/admin/static/app/acl/business/edit_role"], function (main) {
        main.init();
    });
</script>