<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 
 #parse("/controller/header.vm")  

<body class="page-header-fixed">
	<div class="page-container">
##		#parse("/controller/menu.vm")
		$screen_content   
	</div>
##	 #parse("/controller/footer.vm")
 </body>


<script type="text/javascript">
	jQuery(document).ready(function() {

		App.init();
		UINestable.init();
		//FormComponents.init();

	});
	$('.datepicker').datepicker();

	//高亮侧边导航栏
	$(function() {
		var localSearch = location.search.match(/r=([^&]+)/);
		if (!localSearch) {
			localSearch = {};
			localSearch[1] = 'index/index';
		}

		$(".page-sidebar-menu .sub-menu a").each(
				function() {
					var $trigger = $(this);
					var search = this.search.match(/r=([^&]+)/);
					if (search && (search[1] == localSearch[1])) {
						$trigger.parent().addClass("active");
						$trigger.parentsUntil(".sub-menu").parent().parent()
								.addClass("active");
					}
					return true;
				});
	});

	//选择多选操作框
	$('.multi-to-action').on('click', function() {
		var box = $(this).parent();
		box.find('.multi-action-choice-box').css('display', 'block');
	})

	$('.multi-action-select-box').mouseleave(function() {
		$('.multi-action-choice-box').css('display', 'none');
	})
</script>
</html>

