<link href="$formLink/admin/media/css/bosco/list.css" rel="stylesheet" type="text/css">
<style>
    .btns {
        border-radius: 6px !important;
        background-color: #1ab394;
        border-color: #1ab394;
        color: #fff;
        height: 33px;
        width: 100px;
        border: none;
    }
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<script src="http://g.tbcdn.cn/kissy/k/1.3.1/seed.js" data-config="{combine:true}"></script>
<div class="page-content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">用户管理</h3>
                <span>$!message</span>
            </div>
        </div>
        <div class="row-fluid margin-bottom-20 content-area">
            <div class="span12 list-action-top-area">

                <form action="/acl/user/index" class="form-horizontal listSearchBox" method="post">
                    <div class="span12">
                        #if(${inSide})
                            <span class="help-inline">商家名称：</span>
                            <input type="hidden" id="select-business" name="businessId" placeholder="商家名称"
                                   style="width: 240px" value=$!businessId>
                        #end
                        <span class="help-inline">用户昵称：</span>
                        <input type="text" class="m-wrap small" name="nickname" id="nickname" value=$!nickname>
                        <button type="submit" class="search-btn btns">搜 索</button>
                        <a href="/acl/user/goTo/add" class="btn add"
                           style="background-color:#E0E0E0;color: #1a1a1a;margin-left:30px;border-radius: 6px !important; ">
                            <i class="icon-pencil"></i> 添 加</a>
                    </div>
                </form>
            </div>

            <div class="portlet-body">
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>用户账号</th>
                        <th>用户昵称</th>
                        <th>手机</th>
                        <th>邮箱</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach($basicVO in $basicVOList)
                        <tr class="u_$!basicVO.id">
                            <td>$!basicVO.id</td>
                            <td>$!basicVO.userName</td>
                            <td>$!basicVO.nickname</td>
                            <td>$!basicVO.mobile</td>
                            <td>$!basicVO.email</td>
                            <td>
                                <div class="btn-group roll-nav roll-right">
                                    <a href="/acl/user/goTo/modify?id=${basicVO.id}" data-uid="$!basicVO.id"
                                       class="btn edit"
                                       style="border-radius:6px !important;margin-right: 10px;height:18px"> 修改</a>
                                    #if($!isUserManager)
                                        <a href="#myModal3" data-toggle="modal" data-uid="$!basicVO.id"
                                           class="btn del"
                                           style="border-radius:6px !important;margin-right: 10px;height:18px">
                                            <i class="icon-trash"></i> 删除</a>
                                    #end
                                    <button class="dropdown J_tabClose btns" data-toggle="dropdown">用户操作<span
                                            class="caret"></span>
                                    </button>
                                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                                        <li class="J_tabShowActive"><a href="#resign-modal" data-toggle="modal"
                                                                       data-uid="$!basicVO.id" class="resign">离职</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="J_tabCloseAll"><a href="#group-modal" data-toggle="modal"
                                                                     data-uid="$!basicVO.id" class="set-group">转岗</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="J_tabCloseOther"><a href="#privilege-control-modal"
                                                                       data-toggle="modal" data-uid="$!basicVO.id"
                                                                       class="privilege-control">权限禁用</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="J_tabCloseOther"><a href="#role-control-modal" data-toggle="modal"
                                                                       data-uid="$!basicVO.id"
                                                                       class="role-control">角色禁用</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="J_tabCloseOther">
                                            #if("$!basicVO.status"=="NORMAL")
                                                <a data-toggle="modal" data-status="$!basicVO.status"
                                                   data-uid="$!basicVO.id"
                                                   class="disableTemplateId">用户禁用</a>
                                            #else
                                                <a data-toggle="modal" data-status="$!basicVO.status"
                                                   data-uid="$!basicVO.id"
                                                   class="disableTemplateId">用户启用 </a>
                                            #end
                                        </li>
                                        <li class="divider"></li>
                                        <li class="J_tabCloseOther"><a href="#hierarchy-modal" data-toggle="modal"
                                                                       data-uid="$!basicVO.id"
                                                                       data-hid="$!basicVO.hierarchyId"
                                                                       class="set-hierarchy">设置层级</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
        </div>
        #if ($totalCount > 0)
            <div class="pages" style="float:right">
                #set($cpage = $pageUtil.pager($curPage, $pageSize, $totalCount))
                 #set($url = $formLink.setTarget('/acl/user/index').addQueryData(
                'userId', "$!userId").addQueryData(
                'nickname', "$!nickname").fork())
                #showPage($cpage $url)
            </div>
        #end
    </div>
</div>

<!--层级设置-->
<div id="hierarchy-modal" class="modal hide fade" tabindex="-1" style="top:10%"
     role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true"></button>
        <h3 id="myModalLabel3">层级设置</h3>
    </div>
    <div class="modal-body">
        <div>
            层级：<input id="hierarchy-select2" placeholder="" type="text" class="m-wrap large"
                      style="margin-bottom: 5px;">
            <br/>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        <button id="set-hierarchy-submit" data-dismiss="modal" class="btn red"
                data-uid="0">确定
        </button>
    </div>
</div>

<!-- 部门设置-->
<div id="group-modal" class="modal hide fade" tabindex="-1" style="top:10%"
     role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true"></button>
        <h3 id="myModalLabel3">部门设置</h3>
    </div>
    <div class="modal-body">
        <div>
            原部门：<input id="oldGroup" name="" placeholder="" type="text" class="m-wrap large"
                       style="margin-bottom: 5px;" disabled>
            <br/>
            新部门：<input id="group-select2" placeholder="" type="text" class="m-wrap large"
                       style="margin-bottom: 5px;">
            <br/>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        <button id="set-group-submit" data-dismiss="modal" class="btn red"
                data-uid="0">确定
        </button>
    </div>
</div>

<!--权限禁用-->
<div id="privilege-control-modal" class="modal hide fade" tabindex="-1" style="top:10%"
     role="dialog" aria-labelledby="myModalLabel9" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>权限禁用</h3>
    </div>
    <div class="modal-body">
        <div id="select-privilege-control">

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>

<!--角色禁用-->
<div id="role-control-modal" class="modal hide fade" tabindex="-1" style="top:10%"
     role="dialog" aria-labelledby="myModalLabel9" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>角色禁用</h3>
    </div>
    <div class="modal-body">
        <div id="select-role-control">

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>


<!--设置离职-->
<div id="resign-modal" class="modal hide fade" tabindex="-1" style="top:10%"
     role="dialog" aria-labelledby="" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true"></button>
        <h3>警告!</h3>
    </div>
    <div class="modal-body">
        <p>
        <h3>确认将该用户设置为离职？</h3>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        <button id="resign-submit" data-dismiss="modal" class="btn red" data-uid="0">确定
        </button>
    </div>
</div>

<!--删除-->
<div id="myModal3" class="modal hide fade" tabindex="-1" style="top:10%"
     role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true"></button>
        <h3 id="myModalLabel3">警告!</h3>
    </div>
    <div class="modal-body">
        <p>
        <h3>确认删除该用户？</h3>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        <button id="affirm-del" data-dismiss="modal" class="btn red"
                data-uid="0">删除
        </button>
    </div>
</div>
<!--删除选择的-->
<div id="batch-del-modal" class="modal hide fade" tabindex="-1" style="top:10%"
     role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true"></button>
        <h3 id="myModalLabel3">警告!</h3>
    </div>
    <div class="modal-body">
        <p>
            确认删除这些用户？
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        <button id="batch-del-submit" data-dismiss="modal" class="btn red"
                data-uid="0">确定
        </button>
    </div>
</div>

</div>
<input type="hidden" id="selectedBasicRegion"/>
<script src="${formLink}/admin/media/js/select2.min.js" type="text/javascript"></script>
<script src="${formLink}/admin/media/js/jquery.multi-select.js" type="text/javascript"></script>
<script>
    seajs.use(["$formLink/admin/static/app/acl/user/user", "$formLink/admin/static/app/acl/ajaxSelect2"], function (main) {
        main.init();
    });
</script>
