<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
           
	   <import resource="classpath:dubbo/dubbo.xml" />
	   <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="ignoreResourceNotFound" value="false" />
			<property name="ignoreUnresolvablePlaceholders" value="true" />
			<property name="locations">
				<list>
					<value>classpath:form_web.properties</value>
				</list>
			</property>
	   </bean>
	<!--<bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">-->
	<!--<property name="ignoreUnresolvablePlaceholders" value="true" />-->
	<!--<property name="localOverride" value="false" />-->
	<!--<property name="locations">-->
	<!--<list>-->
	<!--<value>classpath:form_web.properties</value>-->
	<!--</list>-->
	<!--</property>-->
	<!--</bean>-->
     <bean id="bossConstant" class="com.meiren.common.constant.BossConstant">
    	<property name="signKey" value="${account.invoke.sign.key}"/>
    	<property name="phpApiRootUrl" value="${account.root.api.url}"/>
     	<property name="secretKey" value="${meiren.common.api.secretkey}"/>
    </bean>
	<bean id="ossConstant" class="com.meiren.common.constant.OssConstant">
		<property name="userId" value="${oss.userId}"/>
		<property name="ossStsUrl" value="${oss.sts.url}"/>
		<property name="ossSecretKey" value="${oss.secretKey}"/>
		<property name="cdnPath" value="${cdnPath}"/>
	</bean>

	<bean id="templatePicConstant" class="com.meiren.common.constant.TemplatePicConstant">
		<property name="qualityRatio" value="${templatePicConstant.qualityRatio}"/>
		<property name="sharpen" value="${templatePicConstant.sharpen}"/>
		<property name="maxSize" value="${templatePicConstant.maxSize}"/>
		<property name="maxHeight" value="${templatePicConstant.maxHeight}"/>
		<property name="maxWidth" value="${templatePicConstant.maxWidth}"/>
		<property name="height" value="${templatePicConstant.height}"/>
		<property name="width" value="${templatePicConstant.width}"/>
	</bean>

	<bean id="templateBannerPicConstant" class="com.meiren.common.constant.TemplateBannerPicConstant">
		<property name="qualityRatio" value="${templateBannerPicConstant.qualityRatio}"/>
		<property name="sharpen" value="${templateBannerPicConstant.sharpen}"/>
		<property name="maxSize" value="${templateBannerPicConstant.maxSize}"/>
		<property name="maxHeight" value="${templateBannerPicConstant.maxHeight}"/>
		<property name="maxWidth" value="${templateBannerPicConstant.maxWidth}"/>
		<property name="height" value="${templateBannerPicConstant.height}"/>
		<property name="width" value="${templateBannerPicConstant.width}"/>
	</bean>

	<bean id="missionPicConstant" class="com.meiren.common.constant.MissionPicConstant">
		<property name="qualityRatio" value="${missionPicConstant.qualityRatio}"/>
		<property name="sharpen" value="${missionPicConstant.sharpen}"/>
		<property name="maxSize" value="${missionPicConstant.maxSize}"/>
		<property name="maxHeight" value="${missionPicConstant.maxHeight}"/>
		<property name="maxWidth" value="${missionPicConstant.maxWidth}"/>
		<property name="height" value="${missionPicConstant.height}"/>
		<property name="width" value="${missionPicConstant.width}"/>
	</bean>

	<bean id="missionDetailPicConstant" class="com.meiren.common.constant.MissionDetailPicConstant">
		<property name="qualityRatio" value="${missionDetailPicConstant.qualityRatio}"/>
		<property name="sharpen" value="${missionDetailPicConstant.sharpen}"/>
		<property name="maxSize" value="${missionDetailPicConstant.maxSize}"/>
		<property name="maxHeight" value="${missionDetailPicConstant.maxHeight}"/>
		<property name="maxWidth" value="${missionDetailPicConstant.maxWidth}"/>
		<property name="height" value="${missionDetailPicConstant.height}"/>
		<property name="width" value="${missionDetailPicConstant.width}"/>
	</bean>

	<bean id="sharePicConstant" class="com.meiren.common.constant.SharePicConstant">
		<property name="qualityRatio" value="${sharePicConstant.qualityRatio}"/>
		<property name="sharpen" value="${sharePicConstant.sharpen}"/>
		<property name="maxSize" value="${sharePicConstant.maxSize}"/>
		<property name="maxHeight" value="${sharePicConstant.maxHeight}"/>
		<property name="maxWidth" value="${sharePicConstant.maxWidth}"/>
		<property name="height" value="${sharePicConstant.height}"/>
		<property name="width" value="${sharePicConstant.width}"/>
	</bean>

	<context:annotation-config />


</beans>
