<link href="$formLink/admin/media/css/bosco/list.css"
	rel="stylesheet" type="text/css">
<script src="http://g.tbcdn.cn/kissy/k/1.3.1/seed.js" data-config="{combine:true}"></script>
	
<style type="text/css">
.u-tips {
	display: none;
	position: fixed;
	height: auto;
	z-index: 99999;
	left: 50%;
	top: 50%;
	width: 236px;
	margin-left: -118px;
	padding: 8px;
	line-height: 24px;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, .6);
	text-align: center;
	font-size: 20px;
	color: #fff;
	font-size: 1.4rem;
}
</style> 
<div class="page-content"> 
	<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<h3 class="page-title">动态表单管理</h3>
					<span>$!message</span>
				</div>
			</div>
			<div class="row-fluid" margin-bottom-20 content-area">
				 <div class="span12 list-action-top-area">
		            <form action="/form/index" class="form-horizontal listSearchBox" method="post">
		                <div class="span12"> 
		                    <span class="help-inline">表单名：</span>
		                    <input type="text" class="m-wrap small" name="searchTitle" id="searchTitle" value="$!searchTitle">
		                    <button type="submit" class="btn  search-btn">搜 索</button> 
		                </div>
		            </form> 
		        </div>
				<div class="portlet box green">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-cogs"></i>
							表单列表
						</div>
						<div class="actions">
							<a href="#modal-form-box" data-toggle="modal" class="btn blue add"><i class="icon-pencil"></i>添加</a>
						</div>
					</div>
	
					<div class="portlet-body">
						<table class="table table-condensed table-hover">
							<thead>
								<tr>
									<th>编号</th>
									<th>创建人</th>
									<th>表单名称</th> 
									<th>创建时间</th>
									<th>修改时间</th> 
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								#foreach($basicVO in $basicVOList)
									<tr class="u_$!basicVO.id">
										<td>$!basicVO.id</td>
										<td>$!basicVO.userName</td>
										<td>$!basicVO.title</td> 
										
 										 <td>$dateUtils.format($!basicVO.gmtCreated,"yyyy-MM-dd HH:mm:ss")</td> 
 										 <td>$dateUtils.format($!basicVO.gmtModified,"yyyy-MM-dd HH:mm:ss")</td> 
 										 <td>
											<div class="btn-group">
												<a class="btn mini purple setForm" href="#" data-toggle="dropdown" data-uid="$!basicVO.id">
													<i class="icon-cog"></i> 设置 <i class="icon-angle-down"></i>
												</a> 
												<a  href="#modal-form-box" data-toggle="modal" data-uid="$!basicVO.id" class="btn mini purple edit" style="margin-left: 3px;">
													<i class="icon-edit"></i> 修改</a> 
												<a href="#myModal3" data-toggle="modal" data-uid="$!basicVO.id" class="btn mini red del" style="margin-left: 3px;">
													<i class="icon-trash"></i> 删除
												</a>
											</div>
										 </td>
									</tr>
								#end 
							</tbody>
						</table> 
					</div>
				</div>
				#if ($totalCount > 0)
				    <div class="pages" style="padding:3px">
				        #set($cpage = $pageUtil.pager($curPage, $pageSize, $totalCount))
				        #set($url = $formLink.setTarget('/form/index').addQueryData('searchTitle', "$!searchTitle").fork())
				   		#showPage($cpage $url)    
				    </div>
			    #end 
	
			</div>
		</div>
	
		<div id="myModal3" class="modal hide fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true"
			data-backdrop="static">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true"></button>
				<h3 id="myModalLabel3">警告!</h3>
			</div>
			<div class="modal-body">
				<p>
					你正在删除一个表单!<br>这个操作不可逆转,你确定要这样做吗?
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
				<button id="affirm-del" data-dismiss="modal" class="btn red"
					data-uid="0">确定</button>
			</div>
		</div>
		<!--创建表单-->
		<div id="modal-form-box" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h3 id="myModalLabel1">添加/修改</h3>
			</div>
			<div class="modal-body" style="text-align: left;"> 
				<form id="form" method="post" class="form-horizontal"> 
					<input name="uid" type="hidden" value="111"/>
					<input name="userName" type="hidden" value="William.jiang"/>
					表单名称：<input name="title" placeholder="表单名" type="text"  class="m-wrap large" style="margin-bottom: 5px;"> <br/>
				          表单摘要：<textarea id="summary" name="summary" placeholder="表单摘要" class="m-wrap large" style="margin-bottom: 5px;"></textarea><br/>
					<!--				
						开始时间：<input class="m-wrap large"  style="margin-bottom: 5px;" name="beginTime" id="beginTime" type="text"   class="m-wrap large" style="margin-bottom: 5px;"> <br/>
						结束时间：<input class="m-wrap large"  style="margin-bottom: 5px;" name="endTime" id="endTime" type="text"   class="m-wrap large" style="margin-bottom: 5px;"> <br/>
						限制登录：<input type="radio" class="m-wrap large"  name="isCheckLogin" value="1">是&nbsp;<input type="radio" class="m-wrap large"  name="isCheckLogin" value="0">否<br/>
						限制IP：  <input type="radio" class="m-wrap large" name="isCheckIp" value="1">是&nbsp;<input type="radio" class="m-wrap large" name="isCheckIp" value="0">否<br/>
					-->
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn" id="close-modal" data-dismiss="modal"
					aria-hidden="true">关闭</button>
				<button id="modal-form-submit" class="btn yellow submit">添加</button>
				<button id="modal-form-edit" class="btn yellow submit">修改</button>
			</div>
		</div>
	
	   
	   
	    <input type="hidden"  id="selectedBasicRegion"/>
		 
		<script>
			seajs.use("$formLink/admin/static/app/adminForm/main",function(main){
			    main.init();
			});
			 
			function closeIframe(){  
 		      $("#YuFrame1").remove();
    		  $("#YuFrame1Bg").remove();
			} 
			
			function getBasicInfo(){
			   var formId = $("#selectedBasicRegion").val();
			   var title; 
			   $.ajax({
			   		type : "POST",
			   		dataType :"json",
			   		async: false,
			   		data : {
			   			id: formId
			   		},
			   		url :  "/form/edit",
			   		success : function(result){ 
		   			   if (result.success) { 
		   				   title=result.data.title;  
		   			   }else{ 
		               	   alert(result.error);     
		               } 
			   		}
			   	});  
			   	var basicInfo = formId+":"+title;
			   	 
			   	return basicInfo;
		   }   
		   
		   function loadFormStructure(){ 
		       var formId = $("#selectedBasicRegion").val(); 
		       var formObj;
			   $.ajax({
			   		type : "POST",
			   		dataType :"json",
			   		async: false,
			   		data : {
			   			id: formId
			   		},
			   		url :  "/form/loadFormStructure",
			   		success : function(result){ 
		   			   if (result.success) { 
		   				    formObj = result;  
		   			   }else{ 
		               	   alert(result.error);     
		               } 
			   		}
			   	});  
			   return formObj;
		   }  
		</script>
	
	</div>
</div>
