<link href="$formLink/admin/media/css/bosco/list.css"
      rel="stylesheet" type="text/css">
<link href="$formLink/admin/media/css/jquery.mCustomScrollbar.css"
      rel="stylesheet" type="text/css">



<script src="$formLink/admin/form/script/simpleUpload.min.js"></script>
<script src="$formLink/admin/form/script/jquery-ui.min.js"></script>


<link href="$formLink/admin/media/js/need/laydate.css" rel="stylesheet" media="screen" type="text/css">
<link href="$formLink/admin/media/js/skins/default/laydate.css" rel="stylesheet" media="screen" type="text/css">
<script src="${formLink}/admin/media/js/laydate.js"></script>
##emoji
<link href="$formLink/admin/media/css/emojione.min.css" rel="stylesheet">
<script src="$formLink/admin/media/js/emojione.min.js"></script>
<style type="text/css">
    .u-tips {
        display: none;
        position: fixed;
        height: auto;
        z-index: 99999;
        left: 50%;
        top: 50%;
        width: 236px;
        margin-left: -118px;
        padding: 8px;
        line-height: 24px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .6);
        text-align: center;
        font-size: 20px;
        color: #fff;
        font-size: 1.4rem;
    }

    .div_missionDetail {
        position: absolute;
        top: 100px;
        left: 50%
        border: solid 1px;
        width: 800px;
        height: 500px;
        background-color: white;
        display: none;
    }

    .detail {
        margin: 40px;

    }

    .button_cancel {
        width: 41px;
        height: 41px;
        border-radius: 20px; /* font-size: 10px;*/
        background-image: url('${formLink}/admin/media/upload/img/cancel.png');
        border: none;
        outline: none;
        position: absolute;
        margin-top: -60%;
        margin-left: 92%;
        background-color: transparent;
        background-size: cover;
    }
</style>

<div class="page-content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">任务审核结果</h3>
                <span>$!message</span>
            </div>
        </div>
        <div class="row-fluid" margin-bottom-20 content-area
        ">
        <div class="span12 list-action-top-area">
            <form action="/missionTrace/missionReview" class="form-horizontal listSearchBox" method="post">
                <div class="span12">
                    <span class="help-inline">任务ID：</span>
                    <input type="text" class="m-wrap small" name="missionIdSearch" id="missionIdSearch"
                           value="$!missionIdSearch">
                    <span class="help-inline">任务名称：</span>
                    <input type="text" class="m-wrap small" name="missionNameSearch" id="missionNameSearch"
                           value="$!missionNameSearch">
                    <span class="help-inline">流水ID：</span>
                    <input type="text" class="m-wrap small " name="missionInstanceIdSearch"
                           id="missionInstanceIdSearch" value="$!missionInstanceIdSearch">
                    <span class="help-inline">完成时间：</span>
                    <input type="text" class="m-wrap small laydate-icon" name="startTimeSearch" id="startTimeSearch"
                           class="m-wrap small datetimepicker" value="$!startTimeSearch">
                    <span class="help-inline">至</span>
                    <input type="text" class="m-wrap small laydate-icon" name="endTimeSearch" id="endTimeSearch"
                           class="m-wrap small datetimepicker" value="$!endTimeSearch">
                    <span class="help-inline">用户名：</span>
                    <input type="text" class="m-wrap small" name="userNameSearch" id="userNameSearch"
                           value="$!userNameSearch">
                    <span class="help-inline">用户ID：</span>
                    <input type="text" class="m-wrap small" name="userIdSearch" id="userIdSearch"
                           value="$!userIdSearch">

                    <button type="submit" class="btn  search-btn">搜 索</button>
                </div>
            </form>
        </div>
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>

                </div>
            </div>

            <div class="portlet-body">
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>流水ID</th>
                        <th>任务编号</th>
                        <th>任务名称</th>
                        <th>奖励类型</th>
                        <th>奖励</th>
                        <th>完成任务用户名</th>
                        <th>完成任务用户ID</th>
                        <th>完成时间</th>

                        #if($isAuto)
                            <th>奖励发放情况</th>
                            <th>审核类型</th>
                        #else
                            <th>审核状态</th>
                        #end

                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        #if($isAuto)

                            #foreach($basicVO in $basicVOList)
                                #set($judge=1)
                            <tr class="u_$!basicVO.missionInstanceId">
                                <td>$!basicVO.missionInstanceId</td>
                                <td>$!basicVO.missionId</td>
                                <td>$!basicVO.missionName</td>
                                #set( $cash = 0)
                                #set( $score = 0)
                                #set( $status = 0)

                                #foreach($actionVO in $!basicVO.actionVOList)

                                    #if($actionVO.awardType==2&&$actionVO.amount)

                                        #set( $score=$actionVO.amount)
                                        #if($actionVO.success==true)
                                            #set( $status=$status +1)
                                        #end
                                    #end
                                    #if($actionVO.awardType==3&&$actionVO.amount)
                                        #set( $cash=$actionVO.amount)
                                        #if($actionVO.success==true)
                                            #set( $status=$status +1)
                                        #end

                                    #end
                                #end
                                #if($cash!=0&&$score!=0)
                                    <td>现金、积分</td>
                                    <td>$cash元、$score分</td>
                                #elseif($cash==0)
                                    <td>积分</td>
                                    <td>$score分</td>
                                #else
                                    <td>现金</td>
                                    <td>$cash元</td>
                                #end
                                <td class="emoji">$!basicVO.receiverName</td>
                                <td>$!basicVO.receiverId</td>
                                <td> $dateUtils.format($!basicVO.finishTime,"yyyy-MM-dd HH:mm:ss")</td>
                                #if($status==2)
                                    <td>奖励发放成功</td>
                                #elseif(($cash==0||$score==0)&&$status==1)
                                    <td>奖励发放成功</td>
                                    #else
                                    <td>奖励发放失败</td>
                                #end

                                    <td>自动</td>


                                <td>

                                    <div class="btn-group">
                                        <a href="#mission_detail" class="btn mini red detail1" id="detail" data-toggle="modal"
                                           data-uid=$basicVOstyle="margin-left: 3px;">
                                        <i class="icon-cog"></i> 详情
                                        </a>
                                    </div>


                                </td>

                            </tr>
                            #end
                        #else

                            #foreach($basicVO in $basicVOList)
                                #set($judge=1)
                            <tr class="u_$!basicVO.missionInstanceId">
                                <td>$!basicVO.missionInstanceId</td>
                                <td>$!basicVO.missionId</td>
                                <td>$!basicVO.missionName</td>
                                #set( $cash = 0)
                                #set( $score = 0)
                                #set( $status = 0)

                                #foreach($actionVO in $!basicVO.actionVOList)

                                    #if($actionVO.awardType==2&&$actionVO.amount)

                                        #set( $score=$actionVO.amount)
                                        #if($actionVO.success==true)
                                            #set( $status=$status +1)
                                        #end
                                    #end
                                    #if($actionVO.awardType==3&&$actionVO.amount)
                                        #set( $cash=$actionVO.amount)
                                        #if($actionVO.success==true)
                                            #set( $status=$status +1)
                                        #end

                                    #end
                                #end
                                #if($cash!=0&&$score!=0)
                                    <td>现金、积分</td>
                                    <td>$cash元、$score分</td>
                                #elseif($cash==0)
                                    <td>积分</td>
                                    <td>$score分</td>
                                #else
                                    <td>现金</td>
                                    <td>$cash元</td>
                                #end
                                <td class="emoji">$!basicVO.receiverName</td>
                                <td>$!basicVO.receiverId</td>
                                <td> $dateUtils.format($!basicVO.finishTime,"yyyy-MM-dd HH:mm:ss")</td>


                                 #if($!basicVO.status=="WAITING")
                                     <td>待审核</td>
                                     <td data-uid="$!basicVO.missionInstanceId" style="text-align: left">

                                         <div class="btn-group" >
                                             <a href="#mission_detail" class="btn mini red detail1" id="detail" data-toggle="modal"
                                                data-uid="$basicVO.missionInstanceId"; style="margin-left: 3px;">
                                             <i class="icon-cog"></i> 详情
                                             </a>
                                         </div>
                                         <div class="btn-group" >
                                             <a class="btn mini purple review" data-toggle="modal"
                                                data-uid=$basicVO.missionInstanceId; style="margin-left: 3px;" >
                                              审核 <i class="icon-angle-down"></i>
                                             </a>
                                         </div>
                                         <div style="position: absolute;margin-left: 64px;margin-top:-10px;z-index: 888;display: none;" id="$basicVO.missionInstanceId">
                                             <a href="#mission_through_div"class="btn mini yellow" id="review" data-toggle="modal"
                                                data-uid=$basicVO.missionInstanceId; style="margin-left:3px;width: 36px">
                                             通过
                                             </a>
                                         </div>
                                         <div style="position: absolute;margin-left: 64px;margin-top:10px;z-index: 889;display: none" id="$basicVO.missionInstanceId">
                                             <a href="#mission_not_through_div" class="btn mini yellow" id="review" data-toggle="modal"
                                                data-uid=$basicVO.missionInstanceId; style="margin-left: 3px;">
                                             不通过
                                             </a>
                                         </div>


                                     </td>

                                 #elseif($!basicVO.status=="SUCCESS")
                                     <td>已通过</td>
                                     <td data-uid="$!basicVO.missionInstanceId" style="text-align: left">

                                         <div class="btn-group">
                                             <a href="#mission_detail" class="btn mini red detail1" id="detail" data-toggle="modal"
                                                data-uid="$basicVO.missionInstanceId"; style="margin-left: 3px;">
                                             <i class="icon-cog"></i> 详情
                                             </a>
                                         </div>



                                     </td>

                                 #elseif($!basicVO.status=="FAIL")
                                     <td>不通过</td>
                                     <td data-uid="$!basicVO.missionInstanceId" style="text-align: left">

                                         <div class="btn-group">
                                             <a href="#mission_detail" class="btn mini red detail1" id="detail" data-toggle="modal"
                                                data-uid="$basicVO.missionInstanceId"; style="margin-left: 3px;">
                                             <i class="icon-cog"></i> 详情
                                             </a>
                                         </div>
                                         <div class="btn-group">
                                             <a href="#mission_through_div"class="btn mini purple" id="review" data-toggle="modal"
                                                data-uid=$basicVO.missionInstanceId; style="margin-left:3px;width: 36px">
                                                 通过
                                             </a>
                                         </div>


                                     </td>
                                    #else
                                     <td>进行中</td>
                                     <td data-uid="$!basicVO.missionInstanceId" style="text-align: left">

                                         <div class="btn-group">
                                             <a href="#mission_detail" class="btn mini red detail1" id="detail" data-toggle="modal"
                                                data-uid="$basicVO.missionInstanceId"; style="margin-left: 3px;">
                                                 <i class="icon-cog"></i> 详情
                                             </a>
                                         </div>


                                     </td>
                                 #end




                            </tr>
                            #end
                        #end

                    </tbody>


                </table>
                #if($judge!=1)
                    <h3>该任务还没有可以审核的任务实例。</h3>
                #end

            </div>
        </div>
        #if ($totalCount > 0)
            <div class="pages" style="padding:3px">
                #set($cpage = $pageUtil.pager($curPage, $pageSize, $totalCount))
				        #set($url = $formLink.setTarget('/missionTrace/missionReview').addQueryData(
                "searchStatus","$!searchStatus").addQueryData(
                'missionInstanceTraceIdSearch',  "$!missionInstanceTraceIdSearch").fork())
				   		#showPage($cpage $url)
            </div>
        #end
    </div>
</div>

</div>

<div class="div_missionDetail modal hide " id="mission_detail"  >
    <div class="detail">任务结果详情页</div>
    <hr class="detail" style="height:1px;border:none;border-top:1px solid #555555;width: 60%;align: center"/>
    <div class="detail">任务类型：<span id="mission_type" class="detail"></span>任务名称：<span id="mission_name"
                                                                                      class="detail"></span>任务ID：<span
            id="mission_id" class="detail"></span></div>
    <div class="detail">任务起止时间：<span id="mission_start_time" class="detail"></span>至<span id="mission_end_time"
                                                                                          class="detail"></span></div>
    <div class="detail">任务状态：<span id="mission_status" class="detail"></span></div>
    <div class="detail">任务结果流水ID：<span id="mission_result_id" class="detail"></span></div>
    <div class="detail ">完成任务用户名：<span id="mission_user_name" class="detail "></span>完成任务用户ID：<span id="mission_user_id"
                                                                                                  class="detail emoji"></span>
    </div>
    <div class="detail">奖励类型：<span id="mission_award_type" class="detail"></span>奖励数额：<span id="mission_award_amount"
                                                                                            class="detail"></span></div>
    <button class="button_cancel" data-dismiss="modal" aria-hidden="true"></button>
</div>
<div id="mission_through_div" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <h3>确认通过审核?</h3>
    <form  class="form-horizontal listSearchBox" method="post">

        <div>
            <button type="button" id="mission_through_submit" aria-hidden="true" data-dismiss="modal" class="btn yellow submit">确 认</button>
        </div>
    </form>
</div>
<div id="mission_not_through_div" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <h3>确认审核不通过?</h3>
    <form  class="form-horizontal listSearchBox" method="post">

        <div>
            <button type="button" id="mission_not_through_submit" class="btn yellow submit" aria-hidden="true" data-dismiss="modal">确 认</button>
        </div>
    </form>
</div>
<input type="hidden" id="missionId" value="$!missionIdSearch">
<script>
    function alertGlobalErrorCall(result) {
        var errorCode=result.code;
        var errorMap= jQuery.getGlobalErrorMap();
        if(errorCode==224){
            jQuery.noPrivilege(result.data)
            return;
        }
        if(errorCode==225){
            jQuery.stackTrace(result)
            return;
        }

        if(errorMap[errorCode]!=null){
            jQuery.notify(errorMap[errorCode],"warn");
        } else {
            jQuery.notify("系统异常","warn");
        }
    }

    seajs.use("$formLink/admin/static/app/mission/missionTrace", function (main) {
        main.init();
    });

    $(document).ready(function () {//解析emoji表情shortname-->image
        $(".emoji").each(function () {
            var shortName=$(this).html();

            var emoji=emojione.shortnameToImage(shortName);
            $(this).html(emoji);
        })
    })
    $(".detail1").on("click", function () {

        var a = $(this).parents("tr").children("td").eq(0).html();
        $("#mission_id").html($(this).parents("tr").children("td").eq(1).html());
        $("#mission_name").html($(this).parents("tr").children("td").eq(2).html());
        $("#mission_result_id").html($(this).parents("tr").children("td").eq(0).html());
        $("#mission_user_id").html($(this).parents("tr").children("td").eq(6).html());
        $("#mission_user_name").html($(this).parents("tr").children("td").eq(5).html());
        $("#mission_award_amount").html($(this).parents("tr").children("td").eq(4).html());
        $("#mission_award_type").html($(this).parents("tr").children("td").eq(3).html());
        #foreach($basicVO in $basicVOList)
            if ($basicVO.missionInstanceId==a
            )
            {
                if("NEWER"=="$basicVO.missionType"){
                    $("#mission_type").html("拉新任务");
                }
                if("$basicVO.missionStatus"=="3"){
                 $("#mission_status").html("已上架");

                }else if("$basicVO.missionStatus"=="6"){
                $("#mission_status").html("已下架");
                    }else{
                 $("#mission_status").html("未知状态");
                    }


                $("#mission_start_time").html(" $dateUtils.format($!basicVO.beginTime,"yyyy-MM-dd HH:mm:ss")");
                $("#mission_end_time").html(" $dateUtils.format($!basicVO.endTime,"yyyy-MM-dd HH:mm:ss")");

            }

        #end



    })

$(".review").on("click",function () {
    $(this).parent().parent().children().each(function(){

        if($(this).css("position")=="absolute"){

        if($(this).css("display")=="none"){

            $(this).css("display","block");
        }else{

        $(this).css("display","none");
    }
        }
    });

});
    var id;
    $("td").on("click",function () {

       id=$(this).attr("data-uid");

    });
    /**
     * 审核通过
     */
    $("#mission_through_submit").on("click",function () {
        var missionId = $("#missionIdSearch").val();
        $.ajax({
            type : "POST",
            dataType :"json",

            data : {
                id:id,
            },
            url :  "/missionTrace/throughAudit",
            success : function(result){
                if (result.success) {
                    //关闭对话框并且刷新当前页面
                    $(".search-btn").click();
                    //location.reload();
                    //alert(missionId);
                    //window.location.href = "/missionTrace/missionReview?id=$";
                }else{
                    alertGlobalErrorCall(result);
                }

            },
        });

    });
    /**
     * 审核不通过
     */
    $("#mission_not_through_submit").on("click",function () {
        var missionId = $("#missionIdSearch").val();

        $.ajax({
            type : "POST",
            dataType :"json",

            data : {
                id:id,
            },
            url :  "/missionTrace/notApproveAudit",
            success : function(result){
                if (result.success) {
                    //关闭对话框并且刷新当前页面
                    //alert(missionId);
                    $(".search-btn").click()
                    //location.reload();
                }else{
                    alertGlobalErrorCall(result);

                }

            },
        });

    });
</script>


<script type="text/javascript">
    var start = {
        elem: '#startTimeSearch',
        format: 'YYYY-MM-DD hh:mm:ss',
        max: '2099-06-16 23:59:59', //最大日期
        istime: true,
        istoday: true,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var end = {
        elem: '#endTimeSearch',
        format: 'YYYY-MM-DD hh:mm:ss',
        max: '2099-06-16 23:59:59',
        istime: true,
        istoday: false,
        choose: function(datas){
            start.max = datas; //结束日选好后，重置开始日的最大日期
        }
    };
    laydate(start);
    laydate(end);

    /**emoji shortname转换图片
     *
     */

</script>
